Repository obspy/obspy, pull requests merged in 2018-06, with the labels that each got.

#2169 Update some FDSN WS urls
  obspy/clients/arclink/client.py
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/header.py
Labels: .clients.fdsn

#2180 Fix time rounding edge case
  obspy/core/tests/test_utcdatetime.py
  obspy/core/utcdatetime.py
Labels: .core, bug

#2179 Use trace.times() when writing in TSPAIR format
  obspy/io/ascii/core.py
Labels: .io

#2183 Regression test for #2165
  CHANGELOG.txt
  obspy/core/tests/test_waveform_plugins.py
  obspy/io/ascii/tests/data/miniseed_record.mseed
  obspy/io/ascii/tests/data/mseed2ascii_miniseed_record.txt
  obspy/io/ascii/tests/test_ascii.py
Labels: .io, testing

#2187 Use existing TauPyModel in plot_travel_times() method
  obspy/taup/tau.py
Labels: .taup, enhancement
