Repository obspy/obspy, pull requests merged in 2018-12, with the labels that each got.

#2270 [fdsnws] Add KNMI as data center
  CHANGELOG.txt
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/header.py
Labels: .clients.fdsn

#2272 Remove taup.tau.remove-create_taup_model() which is no longer used
  obspy/taup/tau.py
Labels: .taup

#2259 read FIR coeff even if multiple whitespaces
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/io/seiscomp/inventory.py
  obspy/io/seiscomp/tests/data/EB_response_sc3ml
  obspy/io/seiscomp/tests/test_inventory.py
Labels: .io

#2260 Fix paz poles zeros reading
  CHANGELOG.txt
  obspy/io/seiscomp/inventory.py
  obspy/io/seiscomp/tests/data/EB_response_sc3ml
  obspy/io/seiscomp/tests/test_inventory.py
Labels: .io

#2269 Fix test failures on master
  .travis.yml
  appveyor.yml
  obspy/clients/arclink/tests/test_client.py
  obspy/clients/earthworm/__init__.py
  obspy/clients/earthworm/client.py
  obspy/clients/earthworm/tests/test_client.py
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/mass_downloader/utils.py
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/filesystem/sds.py
  obspy/clients/filesystem/tests/test_sds.py
  obspy/clients/neic/client.py
  obspy/clients/neic/tests/test_client.py
  obspy/clients/nrl/client.py
  obspy/clients/seedlink/client/seedlinkconnection.py
  obspy/core/event/resourceid.py
  obspy/core/inventory/inventory.py
  obspy/core/inventory/network.py
  obspy/core/inventory/station.py
  obspy/core/inventory/util.py
  obspy/core/tests/test_code_formatting.py
  obspy/core/tests/test_event.py
  obspy/core/tests/test_inventory.py
  obspy/core/tests/test_network.py
  obspy/core/tests/test_stream.py
  obspy/core/util/__init__.py
  obspy/core/util/base.py
  obspy/core/util/decorator.py
  obspy/core/util/misc.py
  obspy/imaging/maps.py
  obspy/imaging/tests/test_mopad_script.py
  obspy/io/arclink/inventory.py
  obspy/io/gse2/bulletin.py
  obspy/io/mseed/tests/test_mseed_reading_and_writing.py
  obspy/io/sac/arrayio.py
  obspy/io/sh/evt.py
  obspy/io/shapefile/core.py
  obspy/io/shapefile/tests/test_core.py
  obspy/io/stationxml/tests/test_stationxml.py
  obspy/signal/array_analysis.py
  obspy/signal/interpolation.py
  obspy/signal/tests/test_cross_correlation.py
  obspy/signal/tests/test_spectral_estimation.py
  obspy/signal/tests/test_stream.py
  obspy/taup/tests/test_slowness_model.py
Labels: CI, cleanup, ready for review, testing

#2275 Update sc3ml xsl files for amplitude pick conversion
  CHANGELOG.txt
  obspy/io/seiscomp/data/sc3ml_0.10__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.5__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.6__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.7__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.8__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.9__quakeml_1.2.xsl
  obspy/io/seiscomp/tests/data/quakeml_1.2_amplitude.sc3ml
  obspy/io/seiscomp/tests/data/quakeml_1.2_amplitude_res.xml
  obspy/io/seiscomp/tests/test_event.py
Labels: .io.sc3ml
