Repository obspy/obspy, pull requests merged in 2018-10, with the labels that each got.

#2229 PPSD: fix/improve time overlap check
  CHANGELOG.txt
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_spectral_estimation.py
Labels: .signal

#2218 Fix get_gaps overlapping
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
Labels: bug

#2201 show nice error message when trying to write an empty stream to disk
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
Labels: .core, enhancement

#2010 bugfix CNV write, fixes #2001
  CHANGELOG.txt
  obspy/io/cnv/core.py
  obspy/io/cnv/tests/data/obspyck_20141020150701_P.cnv
  obspy/io/cnv/tests/test_core.py
Labels: bug, io.cnv

#2236 Shorten docstrings
  obspy/core/inventory/inventory.py
  obspy/signal/invsim.py
Labels: docs

#2204 fix some map plotting issues with cartopy and local projection
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/imaging/maps.py
Labels: .imaging, bug

#2242 try to fix basemap/pyproj/proj4 in appveyor
  appveyor.yml
Labels: CI

#2220 Bug comparing ComparingObject to an object without __dict__
  CHANGELOG.txt
  obspy/core/tests/test_util_base.py
  obspy/core/util/base.py
Labels: bug

#2243 PPSD: nicer error msg for "ringlaser" with complex metadata
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_spectral_estimation.py
Labels: .signal

#2234 Warning capture fix
  obspy/core/tests/test_util_misc.py
  obspy/core/util/testing.py
Labels: testing

#2200 skip chans without instrument sensitivity
  CHANGELOG.txt
  obspy/io/sac/sacpz.py
  obspy/io/sac/tests/test_sacpz.py
  obspy/io/stationxml/tests/data/only_soh.xml
Labels: .io, enhancement

#2237 add example and improve stream detrend docs
  obspy/core/stream.py
  obspy/core/trace.py
Labels: .core, docs

#2253 signal: fix AR picker with low amplitude data
  CHANGELOG.txt
  obspy/signal/tests/test_trigger.py
  obspy/signal/trigger.py
Labels: .signal, bug

#2248 NRL: set input units of overall sensitivity to input units of first stage
  CHANGELOG.txt
  obspy/clients/nrl/client.py
Labels: bug, clients.nrl

#2255 Fix documentation of get_pierce_points_geo()
  obspy/taup/tau.py
Labels: docs

#2257 CircleCI 2.0 compatibility
  .circleci/config.yml
  circle.yml
Labels: CI

#2232 Time overflow
  CHANGELOG.txt
  obspy/core/tests/test_utcdatetime.py
  obspy/core/utcdatetime.py
Labels: .core.utcdatetime
