Repository obspy/obspy, pull requests merged in 2018-02, with the labels that each got.

#2069 mseed.utils.get_start_and_end_time returning sr=1 when sr=0.
  CHANGELOG.txt
  obspy/io/mseed/tests/data/rt130_sr0_cropped.mseed
  obspy/io/mseed/tests/test_mseed_reading_and_writing.py
  obspy/io/mseed/tests/test_mseed_util.py
  obspy/io/mseed/util.py
Labels: .io.mseed

#2062 fix read_inventory() with invalid filename showing strange error message
  CHANGELOG.txt
  obspy/core/tests/test_event.py
  obspy/core/tests/test_inventory.py
  obspy/core/tests/test_waveform_plugins.py
  obspy/core/util/base.py
Labels: .core.inventory, bug, ready

#2059 RT130: implement reading rt encodings '16' and '32'
  CHANGELOG.txt
  obspy/io/reftek/__init__.py
  obspy/io/reftek/core.py
  obspy/io/reftek/tests/data/230000005_0036EE80_cropped.npz
  obspy/io/reftek/tests/data/230000005_0036EE80_cropped.rt130
  obspy/io/reftek/tests/test_core.py
Labels: .io

#1996 test runner: Include link to submitted test in printed message on report submission
  obspy/scripts/runtests.py
Labels: release blocker, testing
