Repository obspy/obspy, pull requests merged in 2018-03, with the labels that each got.

#2082 Stream.rotate('->ZNE', components=...): be nice on slightly unexpected input
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
Labels: .core

#2077 UTCDateTime immutability warning
  CHANGELOG.txt
  obspy/core/tests/test_utcdatetime.py
  obspy/core/utcdatetime.py
  obspy/io/kinemetrics/evt_base.py
  obspy/io/sac/sactrace.py
Labels: .core

#2085 docker: Some changes for Deb packaging
  misc/docker/README.md
  misc/docker/obspy_images
  misc/docker/package_debs.sh
Labels: DEB, docker

#1924 WIP: Add more features to nordic IO
  CHANGELOG.txt
  obspy/io/nordic/core.py
  obspy/io/nordic/tests/data/01-0411-15L.S201309
  obspy/io/nordic/tests/data/dos-file.sfile
  obspy/io/nordic/tests/test_nordic.py
Labels: .io, enhancement

#2092 docs: update jupyter notebook links in tutorial
  misc/docs/source/tutorial/index.rst
Labels: docs

#2088 add Inventory.remove(...) method
  CHANGELOG.txt
  obspy/core/inventory/inventory.py
  obspy/core/tests/test_inventory.py
Labels: .core.inventory, enhancement, ready for review
