Repository obspy/obspy, pull requests merged in 2018-05, with the labels that each got.

#2125 Normalize MT components in mopad prior to plotting
  CHANGELOG.txt
  obspy/imaging/mopad_wrapper.py
Labels: .imaging, bug

#2128 Infer sampling rates for each response stage + Support for PAZ without decimation attributes
  obspy/core/inventory/response.py
  obspy/core/tests/data/DK.BSD..BHZ.xml
  obspy/core/tests/test_response.py
Labels: .core.inventory, bug, enhancement

#2132 String representation for empty origin objects
  CHANGELOG.txt
  obspy/core/event/event.py
  obspy/core/tests/test_event.py
Labels: .core.event, bug

#2131 Id of waveform
  CHANGELOG.txt
  obspy/core/event/base.py
  obspy/core/tests/test_event.py
Labels: .core.event

#2129 Fallback to linear interpolation for instable bullen slowness evaluation
  obspy/taup/slowness_layer.py
Labels: .taup, bug

#2135 minor fix in taup docs
  obspy/taup/taup_create.py
Labels: .taup, docs

#2136 taup: py2 compat for #2129
  obspy/taup/slowness_layer.py
Labels: .taup, bug

#1912 Horizontal record section using figure handle
  obspy/imaging/waveform.py
Labels: .imaging

#2115 __str__ and _repr_pretty_ for Comment
  CHANGELOG.txt
  obspy/core/inventory/util.py
  obspy/core/tests/test_util_types.py
Labels: .core.inventory, enhancement

#1615 Can't get interactive plots in Jupyter Notebook
  CHANGELOG.txt
  obspy/imaging/__init__.py
  obspy/imaging/waveform.py
Labels: bug, priority: high

#2138 FDSN routing better error handling
  obspy/clients/fdsn/routing/routing_client.py
  obspy/clients/fdsn/tests/test_base_routing_client.py
  obspy/clients/fdsn/tests/test_eidaws_routing_client.py
  obspy/clients/fdsn/tests/test_federator_routing_client.py
Labels: .clients.fdsn, enhancement

#2139 fix map plots for old mpl 1.2
  obspy/imaging/maps.py
Labels: .imaging, bug

#1988 mseed: Avoid invalid warning when guessing endianness of timestamps / UTCDateTime: proper exceptions on invalid 'julday'
  CHANGELOG.txt
  obspy/core/tests/test_utcdatetime.py
  obspy/core/utcdatetime.py
  obspy/io/mseed/__init__.py
  obspy/io/mseed/util.py
  obspy/io/seisan/tests/test_core.py
Labels: .core, .io.mseed, bug

#2149 signal: fix log cepstrum on new scipy/numpy
  obspy/signal/freqattributes.py
Labels: .signal, bug

#2148 Change dummy time.strptime call to use locale-independent format #2147
  CHANGELOG.txt
  obspy/clients/fdsn/routing/__init__.py
Labels: .clients.fdsn, bug

#2146 FDSN client: bug in Client.set_credentials() (not using queryauth endpoint)
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn, bug

#2158 some flake8 fixes
  obspy/imaging/beachball.py
  obspy/imaging/tests/test_beachball.py
  obspy/signal/array_analysis.py
  obspy/signal/spectral_estimation.py
Labels: testing

#2157 fix a bug in AR picker
  CHANGELOG.txt
  obspy/signal/src/arpicker.c
  obspy/signal/tests/test_trigger.py
Labels: .signal, bug

#2159 Adding more location codes to the default priority list
  CHANGELOG.txt
  obspy/clients/fdsn/mass_downloader/download_helpers.py
  obspy/clients/fdsn/mass_downloader/restrictions.py
  obspy/clients/fdsn/tests/data/channel_level_fdsn_obscure_location_code.txt
  obspy/clients/fdsn/tests/test_mass_downloader.py
Labels: .clients.fdsn, enhancement

#2163 centos io.rg16 fix
  obspy/io/rg16/util.py
Labels: .io, bug

#2164 Import Directive from stdlib in sphinx extension.
  misc/docs/source/_ext/autosummary/__init__.py
Labels: docs
