Repository obspy/obspy, pull requests merged in 2018-07, with the labels that each got.

#2186 Deal with MiniSEED header text decoding issues
  obspy/io/mseed/core.py
  obspy/io/mseed/scripts/recordanalyzer.py
  obspy/io/mseed/tests/data/gecko_non_ascii_header.ms
  obspy/io/mseed/tests/test_mseed_special_issues.py
  obspy/io/mseed/util.py
Labels: .io.mseed, enhancement

#2162 Fix _is_css
  CHANGELOG.txt
  obspy/io/css/core.py
  obspy/io/css/tests/data/test_css.wfdisc
Labels: .io.css, bug

#2189 More forgiving RESP file parsing
  CHANGELOG.txt
  obspy/io/xseed/parser.py
  obspy/io/xseed/tests/data/6D6-Trillium-250sps.resp
  obspy/io/xseed/tests/test_parser.py
Labels: .io.xseed, enhancement

#2191 mseed get_record_info() fix for negative sr rate + mult
  CHANGELOG.txt
  obspy/io/mseed/scripts/recordanalyzer.py
  obspy/io/mseed/tests/data/single_record_negative_sr_fact_and_mult.mseed
  obspy/io/mseed/tests/test_mseed_util.py
  obspy/io/mseed/tests/test_recordanalyzer.py
  obspy/io/mseed/util.py
Labels: .clients.fdsn, .io.mseed, bug

#2188 WIP: Fix 32bit appveyor failures
  obspy/core/tests/test_stream.py
  obspy/signal/tests/test_stream.py
  obspy/signal/tests/test_trace.py
Labels: CI, bug

#2091 Resource id refactor
  CHANGELOG.txt
  misc/docs/source/packages/index.rst
  obspy/core/event/__init__.py
  obspy/core/event/base.py
  obspy/core/event/catalog.py
  obspy/core/event/event.py
  obspy/core/event/magnitude.py
  obspy/core/event/origin.py
  obspy/core/event/resourceid.py
  obspy/core/event/source.py
  obspy/core/tests/test_event.py
  obspy/core/tests/test_resource_identifier.py
  obspy/core/tests/test_util_misc.py
  obspy/core/util/decorator.py
  obspy/core/util/misc.py
  obspy/core/util/testing.py
  obspy/io/cmtsolution/core.py
  obspy/io/cnv/core.py
  obspy/io/gse2/bulletin.py
  obspy/io/iaspei/core.py
  obspy/io/nied/fnetmt.py
  obspy/io/nlloc/core.py
  obspy/io/nordic/core.py
  obspy/io/pde/mchedr.py
  obspy/io/quakeml/core.py
  obspy/io/scardec/core.py
  obspy/io/zmap/core.py
Labels: .core.event, cleanup, ready for review

#2195 Nordic to use preferred origin and handle large negative longitudes
  obspy/io/nordic/core.py
  obspy/io/nordic/tests/test_nordic.py
Labels: .io.nordic

#2197 Read and write large negative longitudes
  CHANGELOG.txt
  obspy/io/nordic/core.py
  obspy/io/nordic/tests/test_nordic.py
Labels: .io.nordic

#2199 Fix 2198
  obspy/io/rg16/core.py
  obspy/io/rg16/tests/test_read_fcnt.py
  obspy/io/rg16/util.py
Labels: .io
