Repository obspy/obspy, pull requests merged in 2019-02, with the labels that each got.

#2300 Changed Stream.get_gaps() to identify gaps within masked Traces
  .travis.yml
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
Labels: .core

#2312 Add Python 3.7 to Ci build matrix (maintenance branch backport)
  .circleci/config.yml
  .travis.yml
  appveyor.yml
  circle.yml
Labels: CI

#2313 Fix test fails on maintenance_1.1.x
  .travis.yml
  appveyor.yml
  obspy/clients/arclink/tests/test_client.py
  obspy/clients/earthworm/__init__.py
  obspy/clients/earthworm/client.py
  obspy/clients/earthworm/tests/test_client.py
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/mass_downloader/utils.py
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/filesystem/sds.py
  obspy/clients/filesystem/tests/test_sds.py
  obspy/clients/neic/client.py
  obspy/clients/neic/tests/test_client.py
  obspy/clients/nrl/client.py
  obspy/clients/seedlink/client/seedlinkconnection.py
  obspy/core/inventory/inventory.py
  obspy/core/inventory/network.py
  obspy/core/inventory/station.py
  obspy/core/inventory/util.py
  obspy/core/tests/test_code_formatting.py
  obspy/core/tests/test_event.py
  obspy/core/tests/test_inventory.py
  obspy/core/tests/test_network.py
  obspy/core/tests/test_stream.py
  obspy/core/util/__init__.py
  obspy/core/util/base.py
  obspy/core/util/decorator.py
  obspy/core/util/misc.py
  obspy/imaging/maps.py
  obspy/imaging/tests/test_mopad_script.py
  obspy/io/arclink/inventory.py
  obspy/io/gse2/bulletin.py
  obspy/io/mseed/tests/test_mseed_reading_and_writing.py
  obspy/io/sac/arrayio.py
  obspy/io/shapefile/core.py
  obspy/io/shapefile/tests/test_core.py
  obspy/io/stationxml/tests/test_stationxml.py
  obspy/signal/array_analysis.py
  obspy/signal/interpolation.py
  obspy/signal/tests/test_spectral_estimation.py
  obspy/signal/tests/test_stream.py
  obspy/taup/tests/test_slowness_model.py
Labels: testing

#2314 Allow empty network codes and also don't force source and networks to be set
  obspy/core/inventory/inventory.py
  obspy/core/inventory/util.py
  obspy/core/tests/test_inventory.py
  obspy/core/tests/test_network.py
Labels: .core.inventory

#2310 io.gcf: fix bitmask for getting compression code
  CHANGELOG.txt
  obspy/io/gcf/libgcf.py
Labels: .io

#2311 io.gcf: fix reading stream ID into station/channel codes
  CHANGELOG.txt
  obspy/io/gcf/libgcf.py
Labels: .io

#2318 Units in identity stage
  obspy/core/inventory/response.py
  obspy/core/inventory/station.py
  obspy/core/inventory/util.py
  obspy/core/tests/data/stationxml_no_units_in_stage_1.xml
  obspy/core/tests/test_response.py
  obspy/io/stationxml/core.py
  obspy/io/stationxml/tests/test_stationxml.py
Labels: bug

#2258 DEB: build packages for new Ubuntu 18.10 Cosmic
  misc/docker/base_images/ubuntu_18_10_cosmic/Dockerfile
  misc/docker/base_images/ubuntu_18_10_cosmic_32bit/Dockerfile
  misc/docker/obspy_images
  misc/docker/package_debs.sh
Labels: DEB, packaging

#2167 UTCDateTime.strftime() raises ValueError with year <1900
  CHANGELOG.txt
  obspy/core/tests/test_event.py
  obspy/core/tests/test_utcdatetime.py
  obspy/core/utcdatetime.py
Labels: .core, .core.event, bug

#2264 build_taup_model() fails for constant-velocity models with more than 2 layers
  CHANGELOG.txt
  obspy/taup/slowness_model.py
  obspy/taup/tests/data/1_layer_model.tvel
  obspy/taup/tests/data/2_layer_model.tvel
  obspy/taup/tests/data/5_layer_model.tvel
  obspy/taup/tests/data/regional_model.tvel
  obspy/taup/tests/test_tau.py
Labels: .taup

#2320 Fix 2266
  obspy/core/inventory/inventory.py
  obspy/core/tests/test_inventory.py
Labels: .core.inventory, bug

#2324 Fix 2222
  CHANGELOG.txt
  obspy/io/nlloc/core.py
  obspy/io/nlloc/tests/test_core.py
Labels: .io.nlloc

#2305 io.shapefile: support for writing extra fields with Inventory objects
  CHANGELOG.txt
  obspy/io/shapefile/__init__.py
  obspy/io/shapefile/core.py
  obspy/io/shapefile/tests/test_core.py
Labels: .io, enhancement

#2156 add read support for FOCMEC output files
  CHANGELOG.txt
  misc/docs/source/packages/index.rst
  misc/docs/source/packages/obspy.io.focmec.rst
  obspy/core/util/base.py
  obspy/io/focmec/__init__.py
  obspy/io/focmec/core.py
  obspy/io/focmec/tests/__init__.py
  obspy/io/focmec/tests/data/focmec_8sta-noratios.lst
  obspy/io/focmec/tests/data/focmec_8sta.lst
  obspy/io/focmec/tests/data/focmec_8sta.out
  obspy/io/focmec/tests/data/focmec_all.lst
  obspy/io/focmec/tests/data/focmec_qedUWne.lst
  obspy/io/focmec/tests/test_core.py
  setup.py
Labels: .io

#2196 More verbose error when header packing in SEG-Y fails
  CHANGELOG.txt
  obspy/io/segy/segy.py
  obspy/io/segy/tests/test_segy.py
  obspy/io/segy/util.py
Labels: .io.segy, enhancement

#2322 Inventory copy
  CHANGELOG.txt
  obspy/core/inventory/inventory.py
  obspy/core/tests/test_inventory.py
Labels: .core.inventory

#2327 Fix dependency version number comparison in tests
  obspy/core/util/base.py
Labels: testing

#2332 windows strange test fails: let's see if this is enough to skip them
  obspy/core/tests/test_stream.py
  obspy/signal/tests/test_stream.py
Labels: WIN, testing

#2331 docs: dont advertize Stream.attach_response() in API docs landing page
  obspy/core/inventory/__init__.py
Labels: docs

#2298 Fix trimming waveforms after fetching from FDSN Client
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn
