Repository obspy/obspy, pull requests merged in 2019-01, with the labels that each got.

#2280 Fix taup py37 failures
  obspy/taup/tau_branch.py
Labels: .taup, ready for review, testing

#2282 Fix vincenty inverse for equatorial line
  CHANGELOG.txt
  obspy/geodetics/base.py
  obspy/geodetics/tests/test_util_geodetics.py
Labels: .geodetics, bug

#2279 Resource id rerefactor
  CHANGELOG.txt
  obspy/core/event/resourceid.py
  obspy/core/tests/test_resource_identifier.py
Labels: .core.event

#2292 Pass SAC byteorder flag correctly
  obspy/io/sac/core.py
Labels: .io.sac, bug

#2294 Maintenance 1.1.x: fix divide by zero exception issue #2293
  obspy/CONTRIBUTORS.txt
  obspy/io/seiscomp/inventory.py
  obspy/io/seiscomp/tests/data/channel_level.sc3ml
Labels: .io.sc3ml
