Repository obspy/obspy, pull requests merged in 2019-04, with the labels that each got.

#2377 fix Trace.__eq__ (was super slow in case of >1e6 samples)
  CHANGELOG.txt
  obspy/core/trace.py
Labels: .core, bug

#2315 add xcorr_detector function
  CHANGELOG.txt
  misc/docs/source/gallery.rst
  misc/docs/source/tutorial/code_snippets/xcorr_detector.rst
  misc/docs/source/tutorial/code_snippets/xcorr_pick_correction.rst
  misc/docs/source/tutorial/index.rst
  obspy/signal/cross_correlation.py
  obspy/signal/tests/test_cross_correlation.py
Labels: .signal

#2370 Added sine calibration blockette detection in the record analyzer
  CHANGELOG.txt
  obspy/io/mseed/scripts/recordanalyzer.py
  obspy/io/mseed/tests/data/blockette300.mseed
  obspy/io/mseed/tests/data/blockette310.mseed
  obspy/io/mseed/tests/data/blockette320.mseed
  obspy/io/mseed/tests/test_recordanalyzer.py
Labels: .io.mseed

#2378 Add read support for HypoDD pha files
  CHANGELOG.txt
  misc/docs/source/packages/index.rst
  misc/docs/source/packages/obspy.io.hypodd.rst
  obspy/core/util/misc.py
  obspy/io/hypodd/__init__.py
  obspy/io/hypodd/pha.py
  obspy/io/hypodd/tests/__init__.py
  obspy/io/hypodd/tests/data/example.pha
  obspy/io/hypodd/tests/test_pha.py
  obspy/io/sh/evt.py
  obspy/io/sh/tests/test_evt.py
  setup.py
Labels: .io, enhancement

#2383 Deal with a newline between blockettes
  CHANGELOG.txt
  obspy/io/xseed/parser.py
  obspy/io/xseed/tests/data/dataless.seed.newline_between_blockettes
  obspy/io/xseed/tests/test_parser.py
Labels: .io.xseed

#2360 Get rid of deprecation warnings
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/mass_downloader/utils.py
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/nrl/client.py
  obspy/clients/syngine/client.py
  obspy/core/compatibility.py
  obspy/core/inventory/response.py
  obspy/core/tests/test_stats.py
  obspy/core/tests/test_stream.py
  obspy/core/util/attribdict.py
  obspy/db/db.py
  obspy/io/quakeml/core.py
  obspy/io/stationxml/core.py
  obspy/signal/tests/test_rotate.py
Labels: cleanup
