Repository obspy/obspy, pull requests merged in 2019-09, with the labels that each got.

#2442 Importing ABCs through compatibility layer and fix of proj_version check
  .circleci/config.yml
  .travis.yml
  obspy/clients/fdsn/mass_downloader/restrictions.py
  obspy/core/util/base.py
  obspy/io/mseed/util.py
  obspy/signal/quality_control.py
Labels: PY2/3

#2453 Fix some Flake8 issues and assure consistency CircleCI/Builtin Test case
  .circleci/config.yml
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/routing/routing_client.py
  obspy/clients/fdsn/tests/test_federator_routing_client.py
  obspy/clients/nrl/client.py
  obspy/core/tests/test_code_formatting.py
  obspy/core/trace.py
  obspy/core/utcdatetime.py
  obspy/core/util/base.py
  obspy/io/ah/tests/test_core.py
  obspy/io/arclink/inventory.py
  obspy/io/mseed/headers.py
  obspy/io/mseed/scripts/recordanalyzer.py
  obspy/io/mseed/util.py
  obspy/io/nordic/tests/test_nordic.py
  obspy/io/rg16/core.py
  obspy/io/rg16/util.py
  obspy/io/segy/segy.py
  obspy/io/stationxml/core.py
  obspy/signal/cross_correlation.py
  obspy/signal/quality_control.py
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_cross_correlation.py
  obspy/taup/ray_paths.py
  obspy/taup/tau.py
  obspy/taup/tests/test_ray_paths.py
Labels: testing

#2454 make interphinx point to latest python version
  misc/docs/source/conf.py
Labels: docs

#2458 Fix mseed test
  obspy/io/mseed/tests/test_mseed_special_issues.py
Labels: .io.mseed, testing

#2457 getting ppsd out of a pickle
  CHANGELOG.txt
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_spectral_estimation.py
Labels: .signal

#2456 More robust ISO8601 detection + option to disable auto detection
  CHANGELOG.txt
  obspy/core/tests/test_utcdatetime.py
  obspy/core/utcdatetime.py
Labels: .core.utcdatetime

#2419 Fix reading from buffer not at start of file and using autodetection
  obspy/core/tests/test_waveform_plugins.py
  obspy/core/util/base.py
  obspy/io/sac/core.py
Labels: .core, bug

#2467 add timezone examples to `UTCDateTime` docs
  obspy/core/utcdatetime.py
Labels: .core.utcdatetime, docs
