Repository obspy/obspy, pull requests merged in 2019-12, with the labels that each got.

#2484 feature Stats.component
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/tests/test_stats.py
  obspy/core/trace.py
Labels: .core

#2493 BUG: Stream.plot(type='section'...) reftime parameter doesn't work
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/core/util/testing.py
  obspy/imaging/tests/images/waveform_color_section.png
  obspy/imaging/tests/images/waveform_default_section.png
  obspy/imaging/tests/images/waveform_reftime_section.png
  obspy/imaging/tests/images/waveform_wiggles_horizontal_section.png
  obspy/imaging/tests/images/waveform_wiggles_negative_section.png
  obspy/imaging/tests/images/waveform_wiggles_positive_section.png
  obspy/imaging/tests/images/waveform_wiggles_vertical_section.png
  obspy/imaging/waveform.py
Labels: .imaging, bug

#2452 Add support for INGV DMX format
  CHANGELOG.txt
  misc/docs/source/packages/index.rst
  misc/docs/source/packages/obspy.io.dmx.rst
  obspy/core/util/base.py
  obspy/io/dmx/__init__.py
  obspy/io/dmx/core.py
  obspy/io/dmx/tests/__init__.py
  obspy/io/dmx/tests/data/131114_090600.dmx
  obspy/io/dmx/tests/test_core.py
  setup.py
Labels: .io

#2509 Allow writing of zero-sampling rate MiniSEED files
  CHANGELOG.txt
  obspy/io/mseed/core.py
  obspy/io/mseed/tests/test_mseed_reading_and_writing.py
Labels: .io.mseed

#2478 taup: fix colors in ray path plots
  CHANGELOG.txt
  obspy/taup/tau.py
  obspy/taup/tests/images/spherical_diff_phases.png
  obspy/taup/tests/images/spherical_many_phases.png
  obspy/taup/tests/images/spherical_many_phases_one_way.png
  obspy/taup/utils.py
Labels: .imaging, .taup

#2516 Fix a typo in get_stations() and get_events() docs
  obspy/clients/fdsn/client.py
Labels: .clients.fdsn, docs

#2520 Cope with missing pick-info
  CHANGELOG.txt
  obspy/io/nordic/core.py
  obspy/io/nordic/tests/test_nordic.py
Labels: .io.nordic

#2517 docs: add info on import statements style
  misc/docs/source/coding_style.rst
Labels: docs
