Repository obspy/obspy, pull requests merged in 2019-11, with the labels that each got.

#2451 Added error ellipses and high-accuracy hypocenters to nordic format
  obspy/CONTRIBUTORS.txt
  obspy/io/nordic/core.py
  obspy/io/nordic/ellipse.py
  obspy/io/nordic/tests/data/dos-file.sfile
  obspy/io/nordic/tests/data/plot_ellipse.png
  obspy/io/nordic/tests/data/plot_ellipse_tangents.png
  obspy/io/nordic/tests/data/plot_ellipse_tangents_pts.png
  obspy/io/nordic/tests/data/plot_ellipses.png
  obspy/io/nordic/tests/data/plot_ellipses_tangents.png
  obspy/io/nordic/tests/data/sfile_highaccuracy
  obspy/io/nordic/tests/test_nordic.py
  obspy/io/nordic/utils.py
Labels: .io.nordic

#2498 FDSN: nice message for HTTP 429 response (rate limiting)
  obspy/clients/fdsn/client.py
Labels: .clients.fdsn

#2504 Fix warning with numpy 1.17 in signal.headers
  obspy/signal/headers.py
Labels: .signal

#2505 Fix gcf reading at Py38
  .travis.yml
  CHANGELOG.txt
  appveyor.yml
  obspy/io/gcf/libgcf.py
  setup.py
Labels: .io, bug, ready for review

#2506 arclink tests: properly cleanup password file created during tests
  obspy/clients/arclink/tests/test_decrypt.py
Labels: .clients.arclink, testing

#2502 Move origin-time uncertainty to origin.time_errors for Nordic IO
  obspy/io/nordic/core.py
Labels: .io.nordic

#2507 Fix some CI builds in the build matrix
  .travis.yml
  appveyor.yml
  obspy/core/tests/test_network.py
  obspy/core/tests/test_trace.py
  obspy/imaging/maps.py
  obspy/io/nordic/tests/test_nordic.py
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_spectral_estimation.py
Labels: CI

#2466 QuakeML reading: Elements of "http://quakeml.org" native namespace in custom tags section ignored
  CHANGELOG.txt
  obspy/io/quakeml/core.py
  obspy/io/quakeml/tests/test_quakeml.py
Labels: .io.quakeml, bug
