Repository obspy/obspy, pull requests merged in 2019-03, with the labels that each got.

#2340 fix #2339
  CHANGELOG.txt
  obspy/io/quakeml/core.py
  obspy/io/quakeml/tests/test_quakeml.py
Labels: .io.quakeml

#2343 Added test to the recalculate_overall_sensitivity() method
  CHANGELOG.txt
  obspy/core/inventory/response.py
  obspy/core/tests/test_response.py
Labels: .core.inventory, bug

#2351 Nordic high accuracy
  CHANGELOG.txt
  obspy/io/nordic/__init__.py
  obspy/io/nordic/core.py
  obspy/io/nordic/tests/data/sfile_high_precision_picks
  obspy/io/nordic/tests/data/sfile_long_phase
  obspy/io/nordic/tests/data/sfile_seconds_overflow
  obspy/io/nordic/tests/test_nordic.py
  obspy/io/nordic/utils.py
Labels: .io.nordic, bug

#2326 Generalize Inventory, Catalog and Stream reading - allow wildcards
  CHANGELOG.txt
  obspy/core/event/catalog.py
  obspy/core/inventory/inventory.py
  obspy/core/stream.py
  obspy/core/tests/test_event.py
  obspy/core/tests/test_inventory.py
  obspy/core/util/base.py
Labels: .core, .core.event, .core.inventory

#2246 PPSD: fix period_lim with xaxis_frequency=True
  CHANGELOG.txt
  obspy/imaging/tests/images/ppsd_freq.png
  obspy/imaging/tests/test_ppsd.py
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/images/ppsd_restricted_stack.png
  obspy/signal/tests/test_spectral_estimation.py
Labels: .imaging, .signal

#2344 Explicitly closing the thread pool for the fdsn routing client
  CHANGELOG.txt
  obspy/clients/fdsn/routing/routing_client.py
Labels: .clients.fdsn, bug

#2355 Fix 1403
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
Labels: duplicate

#2341 Characteristic function bk
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/signal/src/pk_mbaer.c
  obspy/signal/tests/test_trigger.py
  obspy/signal/trigger.py
Labels: .signal, enhancement

#2309 Inventory.plot_response: add option for epoch times in legend
  CHANGELOG.txt
  misc/docs/source/gallery.rst
  obspy/core/inventory/__init__.py
  obspy/core/inventory/inventory.py
  obspy/core/inventory/network.py
  obspy/core/inventory/util.py
  obspy/core/tests/test_inventory.py
  obspy/core/tests/test_network.py
Labels: .imaging

#2325 _discover_services keyword in FDSN Client
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/header.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn

#2359 Enable using signed EIDA FDSN tokens
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
Labels: .clients.fdsn

#2227 obspy-scan: allow fnmatch wildcards when selecting specific SEED IDs during plotting
  CHANGELOG.txt
  obspy/imaging/scripts/scan.py
  obspy/imaging/tests/test_scan.py
Labels: enhancement

#2353 Adding basemap with beachball from read_events plot to Obspy Gallery, issue #1750
  misc/docs/source/gallery.rst
  misc/docs/source/tutorial/code_snippets/basemap_plot_with_beachballs.rst
  misc/docs/source/tutorial/code_snippets/basemap_with_beachball_read_events.py
Labels: docs
