Repository obspy/obspy, pull requests merged in 2019-06, with the labels that each got.

#2303 Deprecate ResourceIdentifier methods which mutate resource string
  CHANGELOG.txt
  obspy/core/event/resourceid.py
  obspy/core/tests/test_resource_identifier.py
  obspy/io/quakeml/core.py
Labels: .core.event

#2286 Steam/Trace almost_equal method
  .travis.yml
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
  obspy/core/tests/test_trace.py
  obspy/core/tests/test_util_testing.py
  obspy/core/util/testing.py
  obspy/signal/tests/test_invsim.py
Labels: .core, testing

#2411 seishub: fix fetching paz for stations with multiple metadata files
  CHANGELOG.txt
  obspy/clients/seishub/client.py
Labels: .clients.seishub

#2404 nordic: Add support for AIN:takeoff_angle
  CHANGELOG.txt
  obspy/io/nordic/core.py
  obspy/io/nordic/tests/test_nordic.py
Labels: .io.nordic

#2413 fix a problem in Scanner when loading npz on Python3
  CHANGELOG.txt
  obspy/imaging/scripts/scan.py
Labels: .imaging, scripts
