Repository obspy/obspy, pull requests merged in 2020-02, with the labels that each got.

#2549 Fix some issues with Response stage Numerator/Denominator handling in 1.2.0rc3
  obspy/core/inventory/response.py
  obspy/io/stationxml/core.py
  obspy/io/stationxml/tests/data/full_random_stationxml.xml
  obspy/io/stationxml/tests/test_stationxml.py
Labels: .core.inventory, .io.stationxml, bug

#2550 io/nordic/core: fix to let read_nordic properly return waveform file name
  obspy/CONTRIBUTORS.txt
  obspy/io/nordic/core.py
  obspy/io/nordic/tests/test_nordic.py
Labels: .io.nordic

#2554 Hacky fix for reading SC3 ArclinkXML where publicID has slash instead…
  CHANGELOG.txt
  obspy/io/arclink/inventory.py
  obspy/io/arclink/tests/data/public-id-slash.xml
  obspy/io/arclink/tests/test_inventory_xml.py
Labels: .io

#2560 fix taup bug with floating point precision on IBM machines
  CHANGELOG.txt
  obspy/taup/src/inner_tau_loops.c
Labels: .taup

#2567 try to fix loading cdll on windows
  appveyor.yml
  obspy/core/util/libnames.py
Labels: WIN, bug, installation

#2568 Changelog entry for #2531.
  CHANGELOG.txt
Labels: docs

#2570 signal: fix covariance matrix in Vidale and make adaptive windows optional
  CHANGELOG.txt
  obspy/signal/polarization.py
Labels: .signal
