Repository obspy/obspy, pull requests merged in 2020-05, with the labels that each got.

#2611 EIDA Routing Client creating mass requests when asking for non-existing data
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/routing/eidaws_routing_client.py
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/fdsn/tests/test_eidaws_routing_client.py
Labels: .clients.fdsn, bug

#2617 clients.neic: Make NEIC client socket blocking
  CHANGELOG.txt
  CONTRIBUTING.md
  obspy/clients/neic/client.py
Labels: .clients.neic

#2593 Fix bug in nordic file read with non-positive definite covariance matrix
  CHANGELOG.txt
  obspy/io/nordic/core.py
  obspy/io/nordic/ellipse.py
  obspy/io/nordic/tests/data/sfile_bad_covariance
  obspy/io/nordic/tests/test_nordic.py
Labels: .io.nordic, bug
