Repository obspy/obspy, pull requests merged in 2020-06, with the labels that each got.

#2620 Backport of #2619 adding pyproject.toml for PEP518 compliance
  pyproject.toml
Labels: installation

#2610 Fix bug in mass_downloader
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/clients/fdsn/mass_downloader/utils.py
  obspy/clients/fdsn/tests/test_mass_downloader.py
Labels: .clients.fdsn

#2631 CI: fix flake8 on master
  .flake8
  obspy/imaging/source.py
Labels: CI

#2626 implement get_waveforms_bulk for SDS client
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/clients/filesystem/sds.py
  obspy/clients/filesystem/tests/test_sds.py
Labels: .clients.filesystem

#2641 Adds build backend to pyproject.toml
  pyproject.toml
Labels: installation

#2636 SDS: Continue get_all_stations() when invalid channel codes are encountered
  CHANGELOG.txt
  obspy/clients/filesystem/sds.py
Labels: .clients.filesystem

#2596 docs: add missing submodules of imaging and ABC sorting
  misc/docs/source/packages/obspy.imaging.rst
Labels: docs

#2656 FDSN: set timeout according to default or user setting in service discovery
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
Labels: .clients.fdsn

#2658 Allow 60s and NaN magnitude in PHA format
  CHANGELOG.txt
  obspy/core/util/base.py
  obspy/io/hypodd/pha.py
  obspy/io/hypodd/tests/data/60s_nan.pha
  obspy/io/hypodd/tests/test_pha.py
  obspy/io/sh/evt.py
Labels: .io

#2652 PPSD: Need to adjust to `set_clim` API change in matplotlib 3.1-3.3
  obspy/signal/spectral_estimation.py
Labels: .imaging, priority: high, task

#2657 Fixed a bug where there were no zeros in a xml file.
  CHANGELOG.txt
  obspy/io/seiscomp/inventory.py
  obspy/io/seiscomp/tests/data/zero_poles_and_zeros.sc3ml
  obspy/io/seiscomp/tests/test_inventory.py
Labels: .io

#2661 nordic: fix some weird numpy issue on py2.7
  obspy/io/nordic/ellipse.py
Labels: .io.nordic

#2659 FDSN: add URL mapping for UIB-NORSAR
  CHANGELOG.txt
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/header.py
Labels: .clients.fdsn
