Repository obspy/obspy, pull requests merged in 2020-10, with the labels that each got.

#2724 Create StationMagnitudeContributions when importing GSE2 bulletin
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/io/gse2/bulletin.py
  obspy/io/gse2/tests/test_bulletin.py
Labels: .io.gse2

#1979 Remove deprecated xcorr function
  CHANGELOG.txt
  obspy/signal/cross_correlation.py
  obspy/signal/tests/test_cross_correlation.py
Labels: .signal

#2734 seedlink: fix a minor bug when using debug option
  CHANGELOG.txt
  obspy/clients/seedlink/basic_client.py
Labels: .clients.seedlink

#2739 FDSN: add short URL mapping for IRISPH5
  CHANGELOG.txt
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/header.py
  obspy/clients/fdsn/mass_downloader/mass_downloader.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn
