Repository obspy/obspy, pull requests merged in 2020-12, with the labels that each got.

#2736 Open CSS binary waveform files compressed with gzip.
  CHANGELOG.txt
  obspy/io/css/core.py
  obspy/io/css/tests/data/201101311155_2.be.w.gz
  obspy/io/css/tests/data/201101311155_2.le.w.gz
  obspy/io/css/tests/data/test_css_2.wfdisc
  obspy/io/css/tests/data/test_css_3.wfdisc
  obspy/io/css/tests/test_core.py
Labels: .io.css

#2740 PPSD: add special handling and noise models for Infrasound
  CHANGELOG.txt
  misc/docs/source/bibliography/Brown2012.bib
  obspy/CONTRIBUTORS.txt
  obspy/signal/data/idc_noise_models.npz
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/data/IM.I59H1..BDF_2020_10_31.mseed
  obspy/signal/tests/data/IM.I59H1..BDF_2020_10_31.xml
  obspy/signal/tests/test_spectral_estimation.py
Labels: .signal

#2763 xseed: properly read elevation 0 value
  CHANGELOG.txt
  obspy/io/xseed/core.py
Labels: .io.xseed, bug
