Repository obspy/obspy, pull requests merged in 2020-07, with the labels that each got.

#2668 should fix flake8 issues for io.xseed
  CHANGELOG.txt
  obspy/clients/filesystem/tests/test_sds.py
  obspy/io/xseed/blockette/blockette048.py
  obspy/io/xseed/blockette/blockette058.py
Labels: .io.xseed

#2591 wip: gh-actions
  .circleci/config.yml
  .coveragerc
  .github/test_conda_env.yml
  .github/workflows/coverage.yml
  .github/workflows/release_published.yml
  .github/workflows/runtests.yml
  .travis.yml
  appveyor.yml
  codecov.yml
Labels: CI

#2678 Reftek mass position channels
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/io/reftek/__init__.py
  obspy/io/reftek/core.py
  obspy/io/reftek/packet.py
  obspy/io/reftek/tests/data/065520000_013EE8A0.npz
  obspy/io/reftek/tests/data/065520000_013EE8A0.rt130
  obspy/io/reftek/tests/test_core.py
Labels: .io

#2677 enables hiding sensitivity mismatch warning in response.get_evalresp_response
  CHANGELOG.txt
  obspy/core/inventory/response.py
  obspy/core/trace.py
Labels: .core
