Repository obspy/obspy, pull requests merged in 2020-11, with the labels that each got.

#2750 gh actions: fix deprecated and removed ways to set env variables
  .github/workflows/master_default_tests.yml
  .github/workflows/master_network_tests.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_published.yml
Labels: CI

#2742 catalog: avoid magnitudes getting printed with all decimals
  CHANGELOG.txt
  obspy/core/event/catalog.py
  obspy/core/event/event.py
  obspy/core/tests/test_event.py
  obspy/io/gse2/__init__.py
  obspy/io/gse2/bulletin.py
  obspy/io/hypodd/__init__.py
  obspy/io/kml/tests/data/catalog.kml
  obspy/io/ndk/__init__.py
  obspy/io/nied/__init__.py
  obspy/io/pde/mchedr.py
  obspy/io/pde/tests/test_mchedr.py
  obspy/io/quakeml/core.py
  obspy/io/quakeml/tests/test_quakeml.py
  obspy/io/scardec/__init__.py
  obspy/io/zmap/__init__.py
Labels: .core.event

#2743 pathlib.Path support
  CHANGELOG.txt
  misc/docs/make_assets.py
  misc/docs/make_citations.py
  misc/docs/make_credits.py
  misc/docs/source/_ext/autosummary/generate.py
  misc/docs/source/conf.py
  misc/docs/source/tutorial/code_snippets/basemap_with_beachball_read_events.py
  misc/docs/source/tutorial/code_snippets/export_seismograms_to_ascii.py
  misc/gource/create-movie.py
  obspy/core/event/catalog.py
  obspy/core/inventory/inventory.py
  obspy/core/stream.py
  obspy/core/tests/test_event.py
  obspy/core/tests/test_inventory.py
  obspy/core/tests/test_stream.py
  obspy/core/util/base.py
Labels: .core
