Repository obspy/obspy, pull requests merged in 2020-01, with the labels that each got.

#2511 Continuation of #2206
  misc/docs/source/packages/obspy.clients.filesystem.rst
  obspy/clients/filesystem/__init__.py
  obspy/clients/filesystem/db.py
  obspy/clients/filesystem/miniseed.py
  obspy/clients/filesystem/msriterator.py
  obspy/clients/filesystem/tests/data/tsindex_data/CU/2018/001/CU.TGUH.00.BHZ.2018.001_first_minute.mseed
  obspy/clients/filesystem/tests/data/tsindex_data/IU/2018/001/IU.ANMO.10.BHZ.2018.001_first_minute.mseed
  obspy/clients/filesystem/tests/data/tsindex_data/IU/2018/001/IU.COLA.10.BHZ.2018.001_first_minute.mseed
  obspy/clients/filesystem/tests/data/tsindex_data/timeseries.sqlite
  obspy/clients/filesystem/tests/test_tsindex.py
  obspy/clients/filesystem/tsindex.py
Labels: .clients.filesystem

#2296 sc3ml read_inventory performance issue on large files
  .gitignore
  CHANGELOG.txt
  obspy/core/util/misc.py
  obspy/io/seiscomp/inventory.py
  obspy/io/seiscomp/tests/data/EB_response_sc3ml
  obspy/io/seiscomp/tests/test_inventory.py
Labels: .io.sc3ml, enhancement

#2527 stationxml: work around empty string tags getting converted to a string value "None"
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/io/seiscomp/inventory.py
  obspy/io/stationxml/core.py
Labels: .core.inventory, .io.stationxml, bug

#2535 mseed: fix bug leading to endless loop when reading a fullseed file without data records as MSEED
  CHANGELOG.txt
  obspy/io/mseed/tests/test_mseed_util.py
  obspy/io/mseed/util.py
Labels: .io.mseed

#2515 Geographic selection of inventory/network/station
  CHANGELOG.txt
  misc/docs/source/packages/obspy.geodetics.rst
  obspy/core/inventory/inventory.py
  obspy/core/inventory/network.py
  obspy/core/inventory/station.py
  obspy/core/tests/test_inventory.py
  obspy/core/tests/test_network.py
  obspy/core/tests/test_station.py
  obspy/geodetics/__init__.py
  obspy/geodetics/base.py
  obspy/geodetics/tests/test_util_geodetics.py
Labels: .core.inventory

#2531 Select traces in Stream based on an Inventory
  obspy/core/data/BW_RJOB__EHZ.xml
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
Labels: .core, .core.inventory

#2542 Refactor _robust_resize in TauBranch
  obspy/clients/arclink/tests/test_client.py
  obspy/taup/tau_branch.py
Labels: .taup
