Repository obspy/obspy, pull requests merged in 2022-09, with the labels that each got.

#3142 try to fix CI problem
  .github/workflows/tests.yml
Labels: CI

#3141 Fix recalculate sensitivity
  CHANGELOG.txt
  obspy/clients/nrl/tests/test_nrl.py
  obspy/core/inventory/response.py
Labels: .signal, .core.inventory, clients.nrl

#3123 Fix Stream.slice/trim return traces with different npts
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
Labels: .core, ready for review

#3151 fix future mpl.cm.get_cmap deprecation
  obspy/core/inventory/inventory.py
  obspy/imaging/cm.py
  obspy/imaging/source.py
  obspy/imaging/waveform.py
  obspy/io/kml/core.py
  obspy/taup/tau.py
Labels: ready for review

#3157 CI: try to fix docs build
  .github/docs_conda_env.yml
Labels: CI, build_docs

#3154 magnitude estimation: some clarifications on potential issues with PAZ
  obspy/signal/invsim.py
Labels: .signal, docs, build_docs

#3156 Apollo seismometer format support: obspy.io.alsep (continued from #2281)
  CHANGELOG.txt
  misc/docs/source/packages/index.rst
  misc/docs/source/packages/obspy.io.alsep.rst
  obspy/CONTRIBUTORS.txt
  obspy/core/util/base.py
  obspy/io/alsep/__init__.py
  obspy/io/alsep/assign.py
  obspy/io/alsep/core.py
  obspy/io/alsep/define.py
  obspy/io/alsep/pse/__init__.py
  obspy/io/alsep/pse/define.py
  obspy/io/alsep/pse/frame.py
  obspy/io/alsep/pse/parser.py
  obspy/io/alsep/pse/record.py
  obspy/io/alsep/pse/tape.py
  obspy/io/alsep/tests/__init__.py
  obspy/io/alsep/tests/data/pse.a12.10.91.mini
  obspy/io/alsep/tests/data/pse.a12.6.117.mini
  obspy/io/alsep/tests/data/pse.a14.4.171.mini
  obspy/io/alsep/tests/data/pse.a15.1.2.mini
  obspy/io/alsep/tests/data/wth.1.5.mini
  obspy/io/alsep/tests/data/wth.5.6.mini
  obspy/io/alsep/tests/data/wtn.1.2.mini
  obspy/io/alsep/tests/data/wtn.6.30.mini
  obspy/io/alsep/tests/test_alsep.py
  obspy/io/alsep/util.py
  obspy/io/alsep/wt/__init__.py
  obspy/io/alsep/wt/define.py
  obspy/io/alsep/wt/frame.py
  obspy/io/alsep/wt/parser.py
  obspy/io/alsep/wt/record.py
  obspy/io/alsep/wt/tape.py
  setup.py
Labels: build_docs

#3159 Fix reading StationXML with base type ResponseStage that has decimation info
  CHANGELOG.txt
  obspy/io/stationxml/core.py
  obspy/io/stationxml/tests/data/F1_423_small.xml
  obspy/io/stationxml/tests/test_stationxml.py
Labels: bug, .io.stationxml
