Repository obspy/obspy, pull requests merged in 2022-03, with the labels that each got.

#2996 seedlink basic client, get_info(): terminate properly
  CHANGELOG.txt
  obspy/clients/seedlink/basic_client.py
Labels: .clients.seedlink, test_network

#2752 cleanup: Some updates after dependency minimum versions were bumped
  obspy/clients/fdsn/mass_downloader/__init__.py
  obspy/clients/fdsn/tests/test_mass_downloader.py
  obspy/core/tests/test_utcdatetime.py
  obspy/core/utcdatetime.py
  obspy/io/mseed/core.py
  obspy/io/nordic/tests/test_nordic.py
  obspy/io/reftek/packet.py
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_spectral_estimation.py
  obspy/taup/tau_model.py
  setup.py
Labels: ready for review

#2988 Response removal prevented unneccessarily for response list type response in some cases
  CHANGELOG.txt
  obspy/core/inventory/response.py
  obspy/core/tests/test_response.py
Labels: .core, .signal, .core.inventory, ready for review

#2998 Fix remaining network test fails in clients.earthworm
  obspy/clients/earthworm/__init__.py
  obspy/clients/earthworm/client.py
  obspy/clients/earthworm/tests/test_client.py
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.earthworm, ready for review, test_network

#2994 remove arclink client
  CHANGELOG.txt
  misc/docs/source/packages/index.rst
  misc/docs/source/packages/obspy.clients.arclink.rst
  misc/docs/source/tutorial/advanced_exercise/advanced_exercise.rst
  misc/docs/source/tutorial/code_snippets/retrieving_data_from_datacenters.rst
  misc/docs/source/tutorial/code_snippets/trigger_tutorial.rst
  misc/docs/source/tutorial/code_snippets/trigger_tutorial_advanced.py
  obspy/clients/arclink/__init__.py
  obspy/clients/arclink/client.py
  obspy/clients/arclink/decrypt.py
  obspy/clients/arclink/tests/__init__.py
  obspy/clients/fdsn/tests/test_client.py
  obspy/conftest.py
  obspy/core/util/base.py
  obspy/pytest.ini
  setup.py
Labels: .clients.arclink, ready for review

#3010 update conda env files for ci tests
  .github/test_conda_env.yml
  .github/test_mindep_conda_env.yml
Labels: CI

#3012 fix a crash on checking invalid URIs on inventory objects
  CHANGELOG.txt
  obspy/core/inventory/util.py
  obspy/core/tests/test_station.py
Labels: .core.inventory, ready for review

#3017 docs: fix some residual links to old mailing lists on docs frontpage
  misc/docs/source/index.rst
Labels: build_docs

#3019 add test run with deps installed with minimal version
  .github/test_mindepversion_conda_env.yml
  .github/workflows/tests.yml
Labels: testing, CI, test_network

#3023 Improve "New issue" with github templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ready for review

#3029 fix wav rescale with default width=None
  .github/workflows/tests.yml
  CHANGELOG.txt
  obspy/io/wav/core.py
  obspy/io/wav/tests/test_core.py
Labels: .io.wav, ready for review

#3030 dependabot to target maintenance branch
  .github/dependabot.yml
Labels: CI, ready for review
