Repository obspy/obspy, pull requests merged in 2022-11, with the labels that each got.

#3204 Fix reading some bytesio objects in tests
  obspy/core/tests/test_event.py
  obspy/core/tests/test_resource_identifier.py
  obspy/core/util/base.py
  obspy/core/util/decorator.py
Labels: .core

#3203 fdsn: change NCEDC base URL to https
  CHANGELOG.txt
  obspy/clients/fdsn/header.py
Labels: .clients.fdsn

#3206 Enhance CI workflow triggers
  .github/workflows/build_wheels.yml
  .github/workflows/docs_building.yml
Labels: CI, ready for review, build_docs

#3055 update of gcf reader to latest revision of format and gcf write support
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/core/tests/test_waveform_plugins.py
  obspy/io/gcf/__init__.py
  obspy/io/gcf/core.py
  obspy/io/gcf/libgcf.py
  obspy/io/gcf/src/gcf_io.c
  obspy/io/gcf/src/gcf_io.def
  obspy/io/gcf/src/gcf_io.h
  obspy/io/gcf/tests/test_core.py
  setup.py
Labels: ready for review, io.gcf, build_docs

#3212 get_stations_bulk params / turn off get_stations autodiscovery
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
Labels: .clients.fdsn

#3211 polarity analysis: fix calculation of timestamp for sliding windows
  CHANGELOG.txt
  obspy/signal/polarization.py
  obspy/signal/tests/test_polarization.py
Labels: bug, .signal, ready for review

#3209 be nice to plugins based on zip format
  obspy/core/util/decorator.py
Labels: .core, ready for review

#3215 fdsn: fix eida routing get_waveforms_bulk()
  obspy/clients/fdsn/routing/eidaws_routing_client.py
  obspy/clients/fdsn/routing/routing_client.py
Labels: bug, .clients.fdsn, ready for review, test_network

#3214 fdsn routing: fix a bug when "debug=True" was set
  CHANGELOG.txt
  obspy/clients/base.py
Labels: bug, .clients.fdsn, ready for review

#3107 Added exception for unpacking error of AH file reading
  CHANGELOG.txt
  obspy/io/ah/core.py
Labels: .io, ready for review

#3217 fix map plots with custom user options
  CHANGELOG.txt
  obspy/imaging/maps.py
Labels: .core, .imaging, ready for review, build_docs

#3218 response: do not report unknown units as type "displacement" to evalresp
  CHANGELOG.txt
  obspy/core/inventory/response.py
  obspy/core/tests/data/response_radian_per_second.xml
  obspy/core/tests/test_response.py
Labels: .core, .signal, .core.inventory, ready for review

#3222 fix typo
  obspy/clients/fdsn/client.py
Labels: .core

#3221 fdsn: fix raising FDSNTooManyRequestsException
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
Labels: .clients.fdsn, ready for review, test_network

#3226 Remove hack for Python 2 compatibility
  obspy/scripts/_print.py
  setup.py
Labels: ready for review

#3216 updating seiscomp xsl/xsd files
  CHANGELOG.txt
  obspy/io/seiscomp/data/quakeml_1.2__sc3ml_0.11.xsl
  obspy/io/seiscomp/data/sc3ml_0.11__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.12__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.6__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.7__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.8__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.9__quakeml_1.2.xsl
  obspy/io/seiscomp/tests/data/iris_events.sc3ml
  obspy/io/seiscomp/tests/data/iris_events_res.xml
  obspy/io/seiscomp/tests/data/qml-example-1.2-RC3.sc3ml
  obspy/io/seiscomp/tests/data/qml-example-1.2-RC3.xml
Labels: .io.sc3ml

#3225 release 1.4.0: release candidate testing
  .github/workflows/build_wheels.yml
  CHANGELOG.txt
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/fdsn/tests/test_eidaws_routing_client.py
  obspy/io/nlloc/core.py
  obspy/io/nlloc/tests/data/nlloc.qml
  obspy/io/nlloc/tests/data/nlloc_custom.qml
  obspy/io/nlloc/tests/test_core.py
  obspy/io/seiscomp/data/quakeml_1.2__sc3ml_0.11.xsl
  obspy/io/seiscomp/data/sc3ml_0.11__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.12__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.6__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.7__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.8__quakeml_1.2.xsl
  obspy/io/seiscomp/data/sc3ml_0.9__quakeml_1.2.xsl
  obspy/io/seiscomp/tests/data/iris_events.sc3ml
  obspy/io/seiscomp/tests/data/iris_events_res.xml
  obspy/io/seiscomp/tests/data/qml-example-1.2-RC3.sc3ml
  obspy/io/seiscomp/tests/data/qml-example-1.2-RC3.xml
  obspy/pytest.ini
  obspy/scripts/_print.py
  setup.py
Labels: test_network

#3227 CI: Revert "exclude win+py311 from wheel building"
  .github/workflows/build_wheels.yml
Labels: CI, packaging

#3229 Remove some code only necessary for python<3.8
  obspy/__init__.py
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/mass_downloader/restrictions.py
  obspy/clients/fdsn/mass_downloader/utils.py
  obspy/clients/fdsn/routing/routing_client.py
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/nrl/client.py
  obspy/clients/syngine/client.py
  obspy/core/compatibility.py
  obspy/core/event/base.py
  obspy/core/inventory/response.py
  obspy/core/tests/test_compatibility.py
  obspy/core/tests/test_trace.py
  obspy/core/trace.py
  obspy/core/util/attribdict.py
  obspy/core/util/misc.py
  obspy/core/util/testing.py
  obspy/geodetics/base.py
  obspy/imaging/spectrogram.py
  obspy/io/mseed/headers.py
  obspy/io/mseed/util.py
  obspy/io/nlloc/tests/test_core.py
  obspy/io/quakeml/tests/test_quakeml.py
  obspy/io/stationxml/core.py
  obspy/io/stationxml/tests/test_stationxml.py
  obspy/io/xseed/tests/test_blockettes.py
  obspy/signal/cross_correlation.py
  obspy/signal/quality_control.py
  obspy/taup/taup_create.py
Labels: cleanup, ready for review, test_network
