Repository obspy/obspy, pull requests merged in 2022-08, with the labels that each got.

#3106 fix issue #3105
  CHANGELOG.txt
  obspy/core/event/catalog.py
  obspy/core/tests/test_event.py
Labels: ready for review

#3119 flake8
  obspy/clients/filesystem/tests/test_tsindex.py
  obspy/clients/seedlink/easyseedlink.py
  obspy/core/tests/test_stream.py
  obspy/imaging/beachball.py
  obspy/io/css/core.py
  obspy/io/css/tests/test_core.py
  obspy/io/mseed/util.py
  obspy/io/sac/arrayio.py
  obspy/io/seiscomp/inventory.py
  obspy/io/seiscomp/tests/test_inventory.py
  obspy/io/stationxml/core.py
  obspy/realtime/rttrace.py
  obspy/realtime/signal.py
  obspy/taup/seismic_phase.py
Labels: cleanup

#3121 xfail baer picker tests on one Linux CI runner (see #2984)
  obspy/signal/tests/test_trigger.py
Labels: .signal, testing, CI

#2420 GSE2 bulletin: Fix reading station magnitude and amplitude
  CHANGELOG.txt
  obspy/io/gse2/bulletin.py
  obspy/io/gse2/tests/data/bulletin/event.txt
  obspy/io/gse2/tests/test_bulletin.py
Labels: .io.gse2

#3115 scan: skip directories that lack permission
  CHANGELOG.txt
  obspy/imaging/scripts/scan.py
  obspy/imaging/tests/test_scan.py
Labels: scripts, ready for review

#3058 Nrl v2
  CHANGELOG.txt
  obspy/clients/nrl/client.py
Labels: release blocker, priority: high, clients.nrl

#1477 fix PPSD time restrictions in stacking, compare >=/<= instead of >/<
  CHANGELOG.txt
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/data/ppsd_stack_selections.npy
Labels: .signal

#3088 bugfix 3067
  CHANGELOG.txt
  obspy/core/inventory/inventory.py
Labels: build_docs

#3127 Match "https://" as well as "http://" for IRIS federator
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/clients/fdsn/routing/federator_routing_client.py
Labels: bug, .clients.fdsn
