Repository obspy/obspy, pull requests merged in 2022-05, with the labels that each got.

#3062 Fix for "TauBranch depths not compatible with slowness sampling" errors
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/taup/slowness_model.py
  obspy/taup/tests/test_ray_paths.py
Labels: .taup

#3065 Update GMT's main site URL
  obspy/imaging/__init__.py
  obspy/imaging/beachball.py
Labels: docs

#3056 NRL: add citation for NRL, and access NRL via https
  misc/docs/source/bibliography/Templeton2017.bib
  obspy/clients/nrl/__init__.py
  obspy/clients/nrl/client.py
Labels: docs, clients.nrl, test_network, build_docs

#3064 Calculate more accurate ray paths in taup
  CHANGELOG.txt
  obspy/taup/__init__.py
  obspy/taup/seismic_phase.py
  obspy/taup/tau.py
  obspy/taup/tests/test_tau.py
Labels: .taup

#3013 trigger: try to fix a bug when characteristic function does not fall below off threshold at end of trace
  CHANGELOG.txt
  obspy/signal/tests/test_trigger.py
  obspy/signal/trigger.py
Labels: .signal, ready for review

#3068 Further minor accuracy improvement to taup refine_arrival
  CHANGELOG.txt
  obspy/taup/seismic_phase.py
Labels: .taup

#3070 Add support for models without a core or inner core in taup
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/taup/seismic_phase.py
  obspy/taup/slowness_layer.py
  obspy/taup/tau_branch.py
  obspy/taup/tau_model.py
  obspy/taup/tests/data/2_layer_no_discontinuity_model.tvel
  obspy/taup/tests/test_tau.py
  obspy/taup/velocity_model.py
Labels: .taup

#3073 PPSD.add(): warn on short trace input that gets skipped
  CHANGELOG.txt
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_spectral_estimation.py
Labels: .signal

#3078 trigger docs building when PR is labeled
  .github/workflows/docs_building.yml
Labels: ready for review, build_docs

#3077 Replace xcorr by correlate in xcorr_3c docstring
  obspy/signal/cross_correlation.py
Labels: docs, build_docs

#3079 ci: remove libffi workaround
  .github/workflows/tests.yml
Labels: CI
