Repository obspy/obspy, pull requests merged in 2022-06, with the labels that each got.

#3083 remove obspy.db.indexer script from documentation
  misc/docs/source/packages/index.rst
Labels: ready for review, build_docs

#3085 Add support for exotic diffracted phases like SedPdiffKP in taup
  CHANGELOG.txt
  obspy/taup/seismic_phase.py
  obspy/taup/tests/test_seismic_phase.py
  obspy/taup/tests/test_tau.py
Labels: enhancement, .taup

#3071 Fix pierce points for 2kmps phases
  CHANGELOG.txt
  obspy/taup/seismic_phase.py
Labels: .taup

#3093 Spectrogram fixes
  CHANGELOG.txt
  obspy/core/tests/test_trace.py
  obspy/imaging/spectrogram.py
  obspy/imaging/tests/test_spectrogram.py
Labels: .signal, .imaging, ready for review

#3092 Rapid travel time plotting in taup
  CHANGELOG.txt
  misc/docs/source/tutorial/code_snippets/plot_travel_times.py
  obspy/taup/__init__.py
  obspy/taup/tau.py
Labels: .taup, build_docs

#3095 Add support for inner core diffracted phases in taup with Kdiff
  CHANGELOG.txt
  obspy/taup/__init__.py
  obspy/taup/seismic_phase.py
  obspy/taup/tau.py
  obspy/taup/tests/test_seismic_phase.py
Labels: .taup, build_docs

#3096 Exposing ray parameter tolerances to get_travel_times in taup
  CHANGELOG.txt
  obspy/taup/__init__.py
  obspy/taup/seismic_phase.py
  obspy/taup/tau.py
  obspy/taup/taup_path.py
  obspy/taup/taup_pierce.py
  obspy/taup/taup_time.py
  obspy/taup/tests/test_tau.py
Labels: .taup

#3082 Checks for bad phases in taup
  CHANGELOG.txt
  obspy/taup/seismic_phase.py
  obspy/taup/tests/test_seismic_phase.py
Labels: .taup

#3100 Taup bug fix for sources in high slowness regions
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/taup/seismic_phase.py
  obspy/taup/slowness_model.py
  obspy/taup/tests/data/high_slowness_crust.nd
  obspy/taup/tests/test_tau.py
Labels: .taup

#3103 Avoid plotting across shadow zones in plot_travel_times
  obspy/taup/seismic_phase.py
  obspy/taup/tau.py
Labels: .taup, build_docs

#3104 Speedup template matching in coincidence trigger
  CHANGELOG.txt
  obspy/signal/trigger.py
Labels: .signal
