Repository obspy/obspy, pull requests merged in 2022-01, with the labels that each got.

#2869 Fix UTCDateTime Regex for ordinal day 360
  CHANGELOG.txt
  obspy/core/tests/test_utcdatetime.py
  obspy/core/utcdatetime.py
Labels: bug, .core.utcdatetime

#2918 fix precision in location2degrees doctest
  obspy/core/tests/test_utcdatetime.py
  obspy/geodetics/base.py
Labels: testing

#2806 Default units "DEF" option for sensor response
  CHANGELOG.txt
  obspy/core/inventory/channel.py
  obspy/core/inventory/inventory.py
  obspy/core/inventory/response.py
  obspy/core/tests/test_trace.py
  obspy/core/trace.py
  obspy/io/mseed/tests/data/1T_MONN_00_EDH.mseed
  obspy/io/stationxml/data/1T_MONN_00_EDH.xml
Labels: .core, .core.inventory

#2878 FDSN client: Don't reject valid hostnames/TLDs
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn

#2932 quick addition to FDSN data server shorthands
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/header.py
Labels: .clients.fdsn

#2937 Improve _is_pickle check (>25 second test on windows)
  obspy/core/stream.py
Labels: testing

#2936 Rewriting the CI recipes to make use of mamba + cache
  .github/workflows/master_default_tests.yml
  .github/workflows/master_network_tests.yml
  .github/workflows/pull_request.yml
  CHANGELOG.txt
Labels: testing

#2942 Adding python 3.10 to CI testing
  .github/test_conda_env-3.10.yml
  .github/workflows/master_default_tests.yml
  .github/workflows/pull_request.yml
Labels: testing

#2944 tune action workflows
  .github/workflows/master_default_tests.yml
  .github/workflows/master_network_tests.yml
  .github/workflows/pull_request.yml
Labels: test_network

#2946 fix some network tests
  .github/workflows/pull_request.yml
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/tests/test_eidaws_routing_client.py
  obspy/clients/iris/client.py
  obspy/clients/iris/tests/test_client.py
Labels: test_network

#2950 Use standard library to parse GCF files
  .github/test_conda_env-3.10.yml
  .github/test_conda_env-3.7.yml
  .github/test_conda_env-3.8.yml
  .github/test_conda_env-3.9.yml
  .github/test_conda_env.yml
  obspy/io/gcf/libgcf.py
Labels: ready for review, io.gcf

#2951 Fix deprecations from Matplotlib 3.5
  CHANGELOG.txt
  obspy/signal/spectral_estimation.py
Labels: .signal, ready for review

#2952 Remove use of distutils
  obspy/clients/fdsn/tests/test_eidaws_routing_client.py
  obspy/clients/fdsn/tests/test_federator_routing_client.py
  obspy/core/tests/test_trace.py
  obspy/core/tests/test_utcdatetime.py
  obspy/core/util/requirements.py
  obspy/signal/cross_correlation.py
Labels: ready for review

#2949 Fix NumPy deprecations
  CHANGELOG.txt
  obspy/core/tests/test_utcdatetime.py
  obspy/imaging/maps.py
  obspy/imaging/scripts/mopad.py
  obspy/imaging/waveform.py
  obspy/io/css/core.py
  obspy/io/mseed/core.py
  obspy/io/rg16/util.py
  obspy/signal/freqattributes.py
  obspy/signal/interpolation.py
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_spectral_estimation.py
  obspy/signal/tf_misfit.py
  obspy/taup/taup_geo.py
Labels: ready for review

#2764 fix flatline in section plot with single trace
  CHANGELOG.txt
  obspy/imaging/waveform.py
Labels: .imaging

#2955 raise error if pytest ret code > 1
  misc/docs/source/_ext/citations.py
  misc/docs/source/_ext/plot_directive.py
  misc/docs/source/conf.py
  misc/docs/source/tutorial/code_snippets/merging_seismograms.py
  obspy/core/util/misc.py
  obspy/scripts/runtests.py
Labels: testing, ready for review

#2954 deploy docs to server
  .github/workflows/docs_building.yml
  .github/workflows/pull_request.yml
  misc/scripts/docs_deploybot/deploy_docs.py
  misc/scripts/docs_deploybot/deploybot.py
  misc/scripts/docs_deploybot/remove_old_pr_docs.py
Labels: ready for review, build_docs

#2422 Modernize setup somewhat
  CHANGELOG.txt
  MANIFEST.in
  obspy/conftest.py
  obspy/core/tests/__init__.py
  obspy/core/tests/test_util_misc.py
  obspy/core/util/libnames.py
  obspy/core/util/requirements.py
  obspy/geodetics/tests/__init__.py
  obspy/imaging/tests/__init__.py
  obspy/io/nordic/tests/__init__.py
  obspy/scripts/runtests.py
  obspy/taup/tests/__init__.py
  pyproject.toml
  setup.py
Labels: installation, ready for review

#2964 clients.fdsn: trivial change to support status code 501 & 502
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/header.py
  obspy/clients/fdsn/tests/test_client.py
Labels: enhancement, .clients.fdsn, ready for review, test_network

#2963 fix error for abandoned commits after push -f
  misc/scripts/docs_deploybot/deploy_docs.py
  misc/scripts/docs_deploybot/deploybot.py
Labels: build_docs

#2967 Fix dayplot with small interval
  CHANGELOG.txt
  obspy/imaging/tests/test_waveform.py
  obspy/imaging/waveform.py
Labels: .imaging, ready for review, upload_images

#2968 Explicitly link extensions with math library
  setup.py
Labels: ready for review

#2966 libmseed updates
  CHANGELOG.txt
  obspy/io/mseed/src/libmseed/ChangeLog
  obspy/io/mseed/src/libmseed/doc/ms_gswap.3
  obspy/io/mseed/src/libmseed/doc/ms_log.3
  obspy/io/mseed/src/libmseed/doc/ms_readmsr.3
  obspy/io/mseed/src/libmseed/doc/msr_duplicate.3
  obspy/io/mseed/src/libmseed/doc/msr_unpack.3
  obspy/io/mseed/src/libmseed/genutils.c
  obspy/io/mseed/src/libmseed/gswap.c
  obspy/io/mseed/src/libmseed/libmseed.h
  obspy/io/mseed/src/libmseed/logging.c
  obspy/io/mseed/src/libmseed/msrutils.c
  obspy/io/mseed/src/libmseed/packdata.c
  obspy/io/mseed/src/libmseed/parseutils.c
  obspy/io/mseed/src/libmseed/traceutils.c
  obspy/io/mseed/src/libmseed/unpack.c
  obspy/io/mseed/src/libmseed/unpackdata.c
Labels: .io.mseed, ready for review

#2969 get full version back
  .github/docs_conda_env.yml
  .github/workflows/docs_building.yml
  .github/workflows/master_default_tests.yml
  .github/workflows/pull_request.yml
  misc/scripts/docs_deploybot/deploybot.py
Labels: ready for review, test_network, build_docs
