Repository obspy/obspy, pull requests merged in 2022-12, with the labels that each got.

#3235 response: allow recalculating overall sensitivity with non translational units
  CHANGELOG.txt
  obspy/core/inventory/response.py
  obspy/core/tests/data/hydrophone_response_PA.xml
  obspy/core/tests/test_response.py
Labels: .core.inventory, ready for review

#3161 Modified energy ratio trigger methods
  CHANGELOG.txt
  misc/docs/source/_images/MER.png
  misc/docs/source/_images/STA_LTA-ratio.png
  misc/docs/source/bibliography/Han2009.bib
  misc/docs/source/tutorial/advanced_exercise/advanced_exercise_solution_4c.py
  misc/docs/source/tutorial/advanced_exercise/advanced_exercise_solution_5.py
  misc/docs/source/tutorial/code_snippets/trigger_tutorial.rst
  misc/docs/source/tutorial/code_snippets/trigger_tutorial_aic_simple.py
  misc/docs/source/tutorial/code_snippets/trigger_tutorial_energy_ratio.py
  misc/docs/source/tutorial/code_snippets/trigger_tutorial_modified_energy_ratio.py
  misc/scripts/docs_deploybot/deploy_docs.py
  misc/scripts/docs_deploybot/deploybot.py
  obspy/core/stream.py
  obspy/core/trace.py
  obspy/signal/tests/test_trigger.py
  obspy/signal/trigger.py
  setup.py
Labels: .signal, ready for review, build_docs

#3230 nlloc hyp reading: set "rejected" when nonlinloc reports bad location run and store info in comments
  CHANGELOG.txt
  obspy/io/nlloc/__init__.py
  obspy/io/nlloc/core.py
  obspy/io/nlloc/tests/data/nlloc_custom.qml
  obspy/io/nlloc/tests/data/nlloc_rejected.hyp
  obspy/io/nlloc/tests/test_core.py
Labels: .io.nlloc, ready for review

#3232 Seedlink: avoid unnecessary get_info() calls
  CHANGELOG.txt
  obspy/clients/seedlink/basic_client.py
  obspy/clients/seedlink/tests/test_basic_client.py
Labels: bug, .clients.seedlink, ready for review

#3243 Energy ratio adjustments
  obspy/signal/tests/test_trigger.py
  obspy/signal/trigger.py
Labels: .signal

#3242 Fix beach pdf output when Axes instance is provided to plot into
  CHANGELOG.txt
  CODEOWNERS
  obspy/conftest.py
  obspy/imaging/beachball.py
  obspy/imaging/mopad_wrapper.py
  obspy/imaging/tests/test_beachball.py
  obspy/pytest.ini
  setup.py
Labels: bug, .imaging

#3247 Ignore DeprecationWarnings and PendingDeprecationWarnings triggered by other modules
  obspy/pytest.ini
Labels: testing, ready for review
