Repository obspy/obspy, pull requests merged in 2022-10, with the labels that each got.

#3165 mseed.util.set_flags_in_fixed_headers: fix block endtime calculation
  CHANGELOG.txt
  obspy/io/mseed/util.py
Labels: bug, .io.mseed

#3164 deprecate online NRL access
  CHANGELOG.txt
  obspy/clients/nrl/__init__.py
  obspy/clients/nrl/client.py
Labels: clients.nrl, build_docs

#3169 fdsn client: correctly set Content-Type header for POST requests
  CHANGELOG.txt
  obspy/clients/base.py
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/routing/eidaws_routing_client.py
  obspy/clients/fdsn/routing/federator_routing_client.py
  obspy/clients/fdsn/tests/test_eidaws_routing_client.py
Labels: .clients.fdsn, test_network

#3172 docs: note on water level with non flat response
  CHANGELOG.txt
  obspy/core/trace.py
Labels: .signal, docs, build_docs

#3175 Fix directory lookup in waveform plugin tests
  obspy/core/tests/test_waveform_plugins.py
Labels: testing

#3177 scanner tests: skip test if unable to strip read permission
  obspy/imaging/tests/test_scan.py
Labels: testing, CI

#3178 seg2: fix reading string header field with empty value
  CHANGELOG.txt
  obspy/io/seg2/seg2.py
Labels: bug, .io.seg2

#3179 radius in kilometers2degrees and degrees2kilometers can be float type
  obspy/geodetics/base.py
Labels: ready for review

#3183 Add missing argument to ppick type declaration
  obspy/signal/headers.py
  obspy/signal/tests/test_trigger.py
Labels: bug, .signal, ready for review

#3182 Add missing network test marker
  obspy/core/tests/test_stream.py
Labels: testing

#3186 limit length of list which records processing info
  CHANGELOG.txt
  obspy/core/tests/test_trace.py
  obspy/core/trace.py
Labels: .core, ready for review

#3184 fix last piece in setup.py that had py3.7
  CHANGELOG.txt
  setup.py
Labels: installation, ready for review

#3185 Fix some tests writing in source tree
  obspy/clients/filesystem/tests/test_tsindex.py
  obspy/core/util/misc.py
Labels: testing, .clients.filesystem, ready for review
