Repository obspy/obspy, pull requests merged in 2022-04, with the labels that each got.

#3040 Fix incomplete read
  obspy/CONTRIBUTORS.txt
  obspy/clients/fdsn/client.py
Labels: .clients.fdsn, test_network

#3036 docs: Fix merge seismograms and update seismometer correction tutorial (and maybe some more smaller things)
  misc/docs/source/tutorial/code_snippets/hierarchical_clustering.py
  misc/docs/source/tutorial/code_snippets/merging_seismograms.py
  misc/docs/source/tutorial/code_snippets/seismometer_correction_simulation.rst
  misc/docs/source/tutorial/code_snippets/seismometer_correction_simulation_3.py
  misc/docs/source/tutorial/code_snippets/seismometer_correction_simulation_4.py
  obspy/imaging/waveform.py
Labels: docs, ready for review, build_docs, no_ci

#3041 Fix cycling through colors in ray path plots, now also fixes cartesia…
  CHANGELOG.txt
  obspy/taup/tau.py
Labels: upload_images, build_docs

#3047 Wiggly lines for S waves in plot ray paths (addresses issue #3042)
  CHANGELOG.txt
  misc/docs/source/tutorial/code_snippets/travel_time_body_waves.py
  obspy/CONTRIBUTORS.txt
  obspy/taup/tau.py
  obspy/taup/utils.py
Labels: .taup, .imaging, upload_images, build_docs

#3048 Fix a typo in xseed documentation
  obspy/io/xseed/__init__.py
Labels: ready for review

#3050 EIDA Federator URL mapping
  obspy/CONTRIBUTORS.txt
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/header.py
Labels: .clients.fdsn, test_network

#3057 replace all http://gnu.org links with https:// version
  obspy/clients/nrl/client.py
  obspy/core/event/__init__.py
  obspy/core/event/catalog.py
  obspy/core/event/event.py
  obspy/core/event/header.py
  obspy/core/event/magnitude.py
  obspy/core/event/origin.py
  obspy/core/event/resourceid.py
  obspy/core/tests/test_resource_identifier.py
  obspy/imaging/source.py
  obspy/io/arclink/__init__.py
  obspy/io/arclink/inventory.py
  obspy/io/arclink/tests/test_inventory_xml.py
  obspy/io/seiscomp/__init__.py
  obspy/io/seiscomp/inventory.py
  obspy/io/seiscomp/tests/test_inventory.py
  obspy/signal/quality_control.py
  obspy/taup/ray_paths.py
Labels: cleanup, no_ci
