Repository obspy/obspy, pull requests merged in 2023-04, with the labels that each got.

#3288 Improve documentation of io.csv module
  obspy/io/csv/__init__.py
  obspy/io/csv/core.py
  obspy/io/csv/tests/data/catalog.csv
Labels: ready for review, build_docs, io.csv

#3291 Correct zero-phase filtering of 2-d arrays and filtering along non-default axis
  CHANGELOG.txt
  obspy/signal/_sosfilt.py
  obspy/signal/filter.py
  obspy/signal/tests/test_filter.py
Labels: .signal, ready for review

#3297 Fix links to Python official docs
  obspy/clients/fdsn/mass_downloader/__init__.py
  obspy/core/event/catalog.py
  obspy/core/inventory/inventory.py
  obspy/core/inventory/network.py
  obspy/core/inventory/station.py
  obspy/io/sac/sactrace.py
Labels: docs, ready for review
