Repository obspy/obspy, pull requests merged in 2023-03, with the labels that each got.

#3273 move pytest import into skip network decorator
  obspy/core/util/decorator.py
Labels: bug, CI, ready for review, build_docs

#3271 Mseed: spread time shift out through individual data blockettes
  CHANGELOG.txt
  obspy/io/mseed/__init__.py
  obspy/io/mseed/tests/test_mseed_util.py
  obspy/io/mseed/util.py
Labels: .io.mseed, build_docs

#3282 adjust a test to catch a bug in the code of Stream.select()
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
Labels: bug, .core

#3261 Channel information edit/fix
  CHANGELOG.txt
  obspy/core/inventory/__init__.py
  obspy/core/inventory/station.py
  obspy/core/inventory/util.py
  obspy/io/kml/tests/data/inventory.kml
Labels: ready for review

#3277 Allow reading multiple blockette 55 entries (FAP) in dataless seed file
  CHANGELOG.txt
  obspy/io/xseed/parser.py
  obspy/io/xseed/tests/data/issue3275.seed
  obspy/io/xseed/tests/data/issue3275.xml
  obspy/io/xseed/tests/test_parser.py
Labels: .io.xseed

#3285 read/write support for csv, eventtxt and csz
  CHANGELOG.txt
  CODEOWNERS
  misc/docs/source/packages/index.rst
  misc/docs/source/packages/obspy.io.csv.rst
  obspy/core/util/base.py
  obspy/io/csv/__init__.py
  obspy/io/csv/core.py
  obspy/io/csv/tests/__init__.py
  obspy/io/csv/tests/data/events.txt
  obspy/io/csv/tests/data/external.csv
  obspy/io/csv/tests/data/incomplete.csv
  obspy/io/csv/tests/test_csv.py
  setup.py
Labels: .io, ready for review, build_docs
