Repository obspy/obspy, pull requests merged in 2023-01, with the labels that each got.

#3256 tests: pytest-ify tests added after 1.4.0 on master
  obspy/core/tests/test_response.py
  obspy/io/nlloc/tests/test_core.py
  obspy/signal/tests/test_trigger.py
Labels: testing, ready for review

#3252 Fix gcf block bug, second attempt
  CHANGELOG.txt
  obspy/io/gcf/src/gcf_io.c
  obspy/io/gcf/src/gcf_io.h
  obspy/io/gcf/tests/test_core.py
Labels: bug, ready for review, io.gcf

#3244 Taup fix for models with no discontinuities
  CHANGELOG.txt
  obspy/taup/taup_create.py
  obspy/taup/tests/test_tau.py
  obspy/taup/velocity_model.py
Labels: .taup, ready for review

#3257 fix some mseed test case setup (setting up bitwise data flags on mseed records used in test)
  obspy/io/mseed/tests/test_mseed_util.py
Labels: .io.mseed, cleanup, ready for review

#3258 pin sqlalchemy<2
  obspy/clients/filesystem/db.py
  obspy/pytest.ini
  setup.py
Labels: .clients.filesystem, ready for review
