Repository obspy/obspy, pull requests merged in 2024-05, with the labels that each got.

#3438 IRIS/Earthscope FDSNWS event: cleanup catalog/contributors
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn, test_network

#3436 CI: add py 3.12 and fix artifact upload
  .github/test_conda_env.yml
  .github/test_mindep_conda_env.yml
  .github/workflows/build_wheels.yml
  .github/workflows/tests.yml
  obspy/signal/tests/test_quality_control.py
  setup.py
Labels: CI, test_network, test_wheels

#3442 try building docset in github actions
  .github/docs_conda_env.yml
  .github/workflows/docs_building.yml
  misc/docs/make_docset.sh
  misc/docs/source/packages/obspy.io.alsep.rst
  misc/docs/source/packages/obspy.io.gcf.rst
Labels: docs, ready for review, build_docs

#3445 seedlink: fix a bug in basic client get_info()
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/clients/seedlink/basic_client.py
Labels: .clients.seedlink, test_network, build_docs

#3294 Allow to specify filter freqs as args, Add different filter types
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
  obspy/core/trace.py
  obspy/signal/filter.py
Labels: .core, .signal, ready for review, build_docs

#3418 Trace/Stream: add methods to switch byteorder
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/tests/test_stream.py
  obspy/core/trace.py
Labels: .core, ready for review, build_docs

#3449 Trace.taper(): Remove 'slepian', add 'dpss' window
  CHANGELOG.txt
  obspy/core/tests/test_trace.py
  obspy/core/trace.py
  setup.py
Labels: .core, .signal, ready for review

#3448 rebrand IRIS -> EarthScope
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/header.py
  obspy/clients/fdsn/mass_downloader/__init__.py
  obspy/clients/fdsn/mass_downloader/mass_downloader.py
  obspy/clients/fdsn/routing/__init__.py
  obspy/clients/fdsn/routing/eidaws_routing_client.py
  obspy/clients/fdsn/routing/federator_routing_client.py
  obspy/clients/fdsn/routing/routing_client.py
  obspy/clients/filesystem/__init__.py
  obspy/clients/filesystem/tsindex.py
  obspy/clients/iris/README.txt
  obspy/clients/iris/__init__.py
  obspy/clients/iris/client.py
  obspy/clients/nrl/__init__.py
  obspy/clients/nrl/client.py
  obspy/clients/syngine/__init__.py
  obspy/clients/syngine/client.py
  obspy/core/inventory/__init__.py
  obspy/core/inventory/station.py
  obspy/core/utcdatetime.py
  obspy/io/sac/__init__.py
  obspy/io/sac/sacpz.py
  obspy/io/xseed/__init__.py
  obspy/io/xseed/parser.py
  setup.py
Labels: docs, ready for review, build_docs

#3446 SAC: Fix sampling rate floating point accuracy edge cases
  CHANGELOG.txt
  obspy/core/tests/test_trace.py
  obspy/io/sac/core.py
  obspy/io/sac/sactrace.py
  obspy/io/sac/tests/data/sample_spacing_rounding_issue.sac
  obspy/io/sac/tests/test_core.py
  obspy/io/sac/util.py
  obspy/realtime/rttrace.py
  obspy/realtime/tests/test_signal.py
Labels: .io.sac, ready for review

#3350 Add confidence ellipsoid reading
  CHANGELOG.txt
  obspy/io/nlloc/core.py
  obspy/io/nlloc/tests/test_core.py
Labels: .io.nlloc, ready for review

#3403 Fix tsindex feb2024
  CHANGELOG.txt
  obspy/clients/filesystem/tests/test_tsindex.py
  obspy/clients/filesystem/tsindex.py
Labels: .clients.filesystem, ready for review, build_docs

#3457 update docs deploy script: deploy docsets, see #3442
  misc/scripts/docs_deploybot/deploy_docs.py
  misc/scripts/docs_deploybot/deploybot.py
Labels: docs, CI, ready for review

#3346 Fix of #3240 (Drop Temporary file usage while reading data)
  CHANGELOG.txt
  obspy/core/stream.py
  obspy/core/util/__init__.py
  obspy/core/util/base.py
  obspy/io/ah/core.py
  obspy/io/alsep/core.py
  obspy/io/alsep/pse/tape.py
  obspy/io/alsep/tests/test_alsep.py
  obspy/io/alsep/wt/tape.py
  obspy/io/ascii/core.py
  obspy/io/gcf/core.py
  obspy/io/gcf/src/gcf_io.c
  obspy/io/gcf/src/gcf_io.def
  obspy/io/gcf/src/gcf_io.h
  obspy/io/gse2/core.py
  obspy/io/mseed/core.py
  obspy/io/mseed/tests/test_mseed_reading_and_writing.py
  obspy/io/mseed/tests/test_mseed_special_issues.py
  obspy/io/nied/tests/test_knet_reading.py
  obspy/io/nordic/core.py
  obspy/io/reftek/core.py
  obspy/io/segy/core.py
  obspy/io/sh/core.py
Labels: .core

#3456 rebrand IRIS -> EarthScope pt. 2
  CHANGELOG.txt
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/mass_downloader/mass_downloader.py
  obspy/clients/fdsn/routing/eidaws_routing_client.py
  obspy/clients/fdsn/routing/federator_routing_client.py
  obspy/clients/fdsn/routing/routing_client.py
  obspy/clients/fdsn/tests/test_base_routing_client.py
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/fdsn/tests/test_federator_routing_client.py
  obspy/clients/fdsn/tests/test_mass_downloader.py
  obspy/core/util/deprecation_helpers.py
Labels: .clients.fdsn, ready for review, test_network, build_docs

#3458 fix codecov.yml and remove entries which could not be validated
  codecov.yml
Labels: CI, ready for review
