Repository obspy/obspy, pull requests merged in 2024-02, with the labels that each got.

#3399 Fix wav stereo
  CHANGELOG.txt
  obspy/io/wav/core.py
Labels: .io.wav, ready for review

#3348 fdsn: try to fix regression introduced by #3306, see #3320
  obspy/clients/fdsn/client.py
Labels: bug, .clients.fdsn, ready for review, test_network

#3387 Ppsd fix processing time info
  CHANGELOG.txt
  obspy/signal/spectral_estimation.py
  obspy/signal/tests/test_spectral_estimation.py
Labels: bug, .signal, ready for review
