Repository obspy/obspy, pull requests merged in 2024-07, with the labels that each got.

#3487 CI: remove extra numpy 2.0.0rc2 jobs from matrix again
  .github/test_conda_env.yml
  .github/test_mindep_conda_env.yml
  .github/test_np2_conda_env.yml
  .github/workflows/tests.yml
Labels: CI

#3468 FDSN tests: Make many more tests run by default which need no network access
  obspy/clients/fdsn/tests/test_base_routing_client.py
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/fdsn/tests/test_eidaws_routing_client.py
  obspy/clients/fdsn/tests/test_federator_routing_client.py
  obspy/clients/fdsn/tests/test_mass_downloader.py
Labels: .clients.fdsn, testing

#3488 fdsn client : raise a FDSNNoServiceException rather than a ValueError…
  CHANGELOG.txt
  obspy/CONTRIBUTORS.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn

#3493 fdsn: avoid inadvertent changes to DEFAULT_SERVICES
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn

#3469 fdsn Client: make it possible to opt out of gzip compression on server side
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Labels: .clients.fdsn, ready for review
