Repository obspy/obspy, pull requests merged in 2024-03, with the labels that each got.

#3413 fdsn: update links for ISC and LMU
  CHANGELOG.txt
  obspy/clients/fdsn/__init__.py
  obspy/clients/fdsn/header.py
Labels: .clients.fdsn, ready for review, test_network

#3379 Respect `method='full'` for `Stream.plot(type='section')`
  CHANGELOG.txt
  obspy/imaging/tests/test_waveform.py
  obspy/imaging/waveform.py
Labels: .imaging

#3421 signal: Minor docstring change
  obspy/signal/freqattributes.py
Labels: .signal, docs
