Repository obspy/obspy, pull requests merged in 2025-08, with the labels that each got.

#3602 DOC: update Cartopy url
  misc/docs/source/conf.py
  misc/docs/source/tutorial/code_snippets/cartopy_plot_with_beachballs.rst
  misc/docs/source/tutorial/code_snippets/python_introduction.rst
Labels: build_docs

#3592 Change default USGS server for obspy.clients.neic. Updated README.txt
  CHANGELOG.txt
  obspy/clients/neic/README.txt
  obspy/clients/neic/__init__.py
  obspy/clients/neic/client.py
Labels: docs, .clients.neic, build_docs, reviewed & ready to merge

#3603 small doc change signal.array_analysis:get_geometry (fixes #3516)
  CHANGELOG.txt
  obspy/signal/array_analysis.py
Labels: ready for review, build_docs
