Repository obspy/obspy, changes with the owners that CODEOWNERS names for each.
All owners: @trichter, @d-chambers, @megies, @johnrudge, @crotwell, @nick-falco, @chad-iris, @ketchum-usgs, @s-schneider, @yamamo-to, @isas-yamamoto, @Jollyfant, @jrekoske, @ThomasLecocq, @paitor, @flixha, @thefroid, @jkmacc-LANL

lint again
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

Update README.md
  README.md
Owners: none

CI: try to add a np 2.0.0rc2 matrix node
  .github/test_mindep_conda_env.yml
  .github/test_np2_conda_env.yml
  .github/workflows/tests.yml
Owners: none

np2: np.ptp
  obspy/core/preview.py
  obspy/signal/tests/test_invsim.py
  obspy/signal/tests/test_stream.py
Owners: @megies, @trichter, @d-chambers

np2: np.float_
  obspy/core/stream.py
  obspy/taup/helper_classes.py
  obspy/taup/slowness_layer.py
  obspy/taup/slowness_model.py
  obspy/taup/tau_branch.py
  obspy/taup/tau_model.py
  obspy/taup/tests/test_tau.py
  obspy/taup/velocity_layer.py
Owners: @megies, @trichter, @d-chambers, @johnrudge, @crotwell

np2: np.alltrue
  obspy/core/tests/test_trace.py
Owners: @megies, @trichter, @d-chambers

np2: np.string_
  obspy/core/tests/test_utcdatetime.py
Owners: @megies, @trichter, @d-chambers

np2: np.NaN
  obspy/core/tests/test_util_testing.py
  obspy/signal/array_analysis.py
  obspy/signal/tests/test_array_analysis.py
Owners: @megies, @trichter, @d-chambers

np2: np.array.newbyteorder
  obspy/core/trace.py
  obspy/io/sac/arrayio.py
  obspy/io/sac/sactrace.py
  obspy/io/sac/util.py
Owners: @megies, @trichter, @d-chambers, @jkmacc-LANL

np2: np.complex_
  obspy/signal/calibration.py
Owners: none

np2: io.alsep manual upcast uint8>int64 before bitshifting etc
  obspy/io/alsep/pse/frame.py
  obspy/io/alsep/wt/frame.py
Owners: @yamamo-to, @isas-yamamoto

np2: some fixes of delimiter type in np.savetxt
  obspy/io/ascii/core.py
  obspy/io/sac/arrayio.py
  obspy/io/scardec/core.py
Owners: @jkmacc-LANL

np2: make sure UTCDateTime.__add__(value) is upcasting the input to double precision
  obspy/core/utcdatetime.py
Owners: @megies, @trichter, @d-chambers

np2: reftek, avoid precision loss in converting double digit year coming from np.uint8 into 4 digit year
  obspy/io/reftek/util.py
Owners: @megies

refactoring: io.reftek, more robust warning testing
  obspy/io/reftek/tests/test_core.py
Owners: @megies

np2: add util wrapper for np.ptp and np.ma.ptp
  obspy/core/preview.py
  obspy/core/stream.py
  obspy/core/util/misc.py
  obspy/signal/tests/test_detrend.py
  obspy/signal/tests/test_invsim.py
  obspy/signal/tests/test_stream.py
Owners: @megies, @trichter, @d-chambers

np2: realtime: do some manual upcasts to keep same precision as before
  obspy/realtime/signal.py
Owners: none

np2: mseed util: manual upcast for a bitwise AND
  obspy/io/mseed/util.py
Owners: none

np2: alsep: manually upcast header data after reading
  obspy/io/alsep/core.py
Owners: @yamamo-to, @isas-yamamoto

np2: avoid a deprecation warning np.in1d() -> np.isin()
  obspy/io/reftek/core.py
Owners: @megies

np2: avoid a deprecation warning from np.cross()
  obspy/io/nordic/ellipse.py
Owners: @flixha

tests: ignore matplotlib complaining about plt.show()
  obspy/pytest.ini
Owners: @trichter, @d-chambers, @megies

suppress pkg_resources deprecation warning when importing obspy
  obspy/__init__.py
Owners: none

changelog
  CHANGELOG.txt
Owners: none

fdsn Client: make sure to copy DEFAULT_SERVICES
  CHANGELOG.txt
  obspy/clients/fdsn/client.py
Owners: none

Revert "CI: try to add a np 2.0.0rc2 matrix node"
  .github/test_conda_env.yml
  .github/test_mindep_conda_env.yml
  .github/test_np2_conda_env.yml
  .github/workflows/tests.yml
Owners: none

CI: try to fix miniconda setup
  .github/workflows/tests.yml
Owners: none

remove usage of mamba
  .github/workflows/tests.yml
Owners: none

try to fix some issue with our catch warnings context manager
  obspy/core/util/testing.py
Owners: @megies, @trichter, @d-chambers

core.util: get rid of old and outdated CatchWarnings context manager
  CHANGELOG.txt
  obspy/core/tests/test_channel.py
  obspy/core/tests/test_event.py
  obspy/core/tests/test_inventory.py
  obspy/core/tests/test_network.py
  obspy/core/tests/test_resource_identifier.py
  obspy/core/tests/test_response.py
  obspy/core/tests/test_station.py
  obspy/core/tests/test_stats.py
  obspy/core/tests/test_util_misc.py
  obspy/core/util/testing.py
  obspy/imaging/tests/test_beachball.py
  obspy/io/mseed/tests/test_mseed_special_issues.py
  obspy/io/sac/tests/test_sacpz.py
  obspy/io/segy/tests/test_core.py
  obspy/io/segy/tests/test_segy.py
  obspy/taup/tests/test_taup_plotting.py
Owners: @megies, @trichter, @d-chambers, @jkmacc-LANL, @johnrudge, @crotwell

tag 1.4.2rc1
  CHANGELOG.txt
Owners: none

ci testing upload to testpypi
  .github/workflows/build_wheels.yml
Owners: none

ci testing upload to testpypi
  .github/workflows/build_wheels.yml
Owners: none

exclude most wheel builds for testing
  .github/workflows/build_wheels.yml
Owners: none

revert skipping of some wheels
  .github/workflows/build_wheels.yml
Owners: none

tag 1.4.2rc2
  CHANGELOG.txt
Owners: none

tag and release 1.4.2
  CHANGELOG.txt
Owners: none

README: update zenodo doi
  README.md
Owners: none

CI: start debugging docs building
  .github/workflows/docs_building.yml
Owners: none

adjust minimum dependency versions for 1.5.0
  setup.py
Owners: none

CODEOWNERS:

# The main points for setting up code owners here are..
#   - to automatically ping people when pull requests are opened that touch
#     parts of the code base that certain people have been involved with and..
#   - to make it faster to see for core developers who to reach out to for
#     getting feedback on pull requests
#
# If anybody wants to be removed here to not get github notifications anymore,
# just open an issue on github and let us know
#
# Deliberately including folders without owners specified

/obspy/.github      @trichter @d-chambers @megies
/obspy/pytest.ini   @trichter @d-chambers @megies
/obspy/conftest.py  @trichter @d-chambers @megies

/obspy/core        @megies @trichter @d-chambers
/obspy/geodetics
/obspy/imaging
/obspy/realtime
/obspy/scripts
/obspy/signal
/obspy/taup        @johnrudge @crotwell

/obspy/clients/earthworm
/obspy/clients/fdsn
/obspy/clients/filesystem/*.py      @nick-falco @chad-iris
/obspy/clients/filesystem/sds.py    @megies
/obspy/clients/iris                 @chad-iris
/obspy/clients/neic                 @ketchum-usgs
/obspy/clients/nrl                  @megies
/obspy/clients/seedlink/basic*.py   @megies
/obspy/clients/seedlink
/obspy/clients/syngine

/obspy/io/ah             @s-schneider
/obspy/io/alsep          @yamamo-to @isas-yamamoto
/obspy/io/arclink        @Jollyfant
/obspy/io/ascii
/obspy/io/cmtsolution
/obspy/io/cnv
/obspy/io/css
/obspy/io/csv            @trichter
/obspy/io/cybershake     @jrekoske
/obspy/io/dmx            @ThomasLecocq
/obspy/io/focmec         @megies
/obspy/io/gcf            @paitor
/obspy/io/gse2
/obspy/io/hypodd         @megies
/obspy/io/iaspei
/obspy/io/json
/obspy/io/kinemetrics
/obspy/io/kml            @megies
/obspy/io/mseed
/obspy/io/mseed/src      @chad-iris
/obspy/io/ndk
/obspy/io/nied
/obspy/io/nlloc          @megies
/obspy/io/nordic         @flixha
/obspy/io/pdas
/obspy/io/pde
/obspy/io/quakeml
/obspy/io/reftek         @megies
/obspy/io/rg16           @thefroid
/obspy/io/sac            @jkmacc-LANL
/obspy/io/scardec
/obspy/io/seg2
/obspy/io/segy
/obspy/io/seisan
/obspy/io/seiscomp
/obspy/io/sh             @trichter
/obspy/io/shapefile      @megies
/obspy/io/stationtxt
/obspy/io/stationxml
/obspy/io/wav
/obspy/io/win            @ThomasLecocq
/obspy/io/xseed
/obspy/io/y
/obspy/io/zmap
