Repository obspy/obspy, changes with the owners that CODEOWNERS names for each.
All owners: @trichter, @d-chambers, @megies, @johnrudge, @crotwell, @nick-falco, @chad-iris, @ketchum-usgs, @s-schneider, @yamamo-to, @isas-yamamoto, @Jollyfant, @jrekoske, @ThomasLecocq, @paitor, @flixha, @thefroid, @jkmacc-LANL

removing the Parser-specific chunk to use `read_inventory` that does the conversion upon reading
  obspy/signal/spectral_estimation.py
Owners: none

Revert "removing the Parser-specific chunk to use `read_inventory` that does the conversion upon reading"
  obspy/signal/spectral_estimation.py
Owners: none

removing the Parser-specific chunk to use `read_inventory` that does the conversion upon reading
  obspy/signal/spectral_estimation.py
Owners: none

flake8 my ❤️
  obspy/signal/spectral_estimation.py
Owners: none

should solve the warning stuff
  obspy/signal/tests/test_spectral_estimation.py
Owners: none

Seisan waveform reading: correcly parse integer precision from data, e.g. int16 vs int32
  obspy/io/seisan/core.py
Owners: none

Seisan reading of 16 bit files: add tests
  obspy/io/seisan/tests/data/90010319.1320J90
  obspy/io/seisan/tests/test_core.py
Owners: none

Update client.py default server
  obspy/clients/neic/client.py
Owners: @ketchum-usgs

Update README.txt
  obspy/clients/neic/README.txt
Owners: @ketchum-usgs

Update CHANGELOG.txt
  CHANGELOG.txt
Owners: none

Add simple example to docstring
  obspy/core/inventory/response.py
Owners: @megies, @trichter, @d-chambers

Try `+ELLIPSIS`
  obspy/core/inventory/response.py
Owners: @megies, @trichter, @d-chambers

Shorten line
  obspy/core/inventory/response.py
Owners: @megies, @trichter, @d-chambers

added a test case for xmlns namespaces
  obspy/io/stationxml/tests/data/fdsnstationxml_with_namespace.xml
Owners: none

added a parser for custom namespaces at the root level, and a fallback population of nmsmap if None for _write_stationxml (taken from inventory._namespaces)
  obspy/io/stationxml/core.py
  obspy/io/stationxml/tests/test_stationxml.py
Owners: none

namespaces support
  CHANGELOG.txt
Owners: none

namespaces support
  CHANGELOG.txt
Owners: none

namespaces support cleanup
  obspy/io/stationxml/core.py
Owners: none

namespaces tests
  obspy/io/stationxml/tests/test_stationxml.py
Owners: none

flake8 my ❤️
  obspy/io/stationxml/core.py
  obspy/io/stationxml/tests/test_stationxml.py
Owners: none

"Fix check for `writer.field` method signature in obspy.io.shapefile to adapt to pyshp version changes"
  CHANGELOG.txt
  obspy/io/shapefile/core.py
Owners: @megies

"Fix check for `writer.field` method signature in obspy.io.shapefile to adapt to pyshp version changes"
  CHANGELOG.txt
Owners: none

flake8 my ❤️
  obspy/io/shapefile/core.py
Owners: @megies

"Update handling of `writer.field` method and tests to accommodate pyshp v3 changes"
  obspy/io/shapefile/core.py
  obspy/io/shapefile/tests/test_core.py
Owners: @megies

changelog
  CHANGELOG.txt
Owners: none

changelog
  CHANGELOG.txt
Owners: none

DOC: update Cartopy url
  misc/docs/source/conf.py
  misc/docs/source/tutorial/code_snippets/cartopy_plot_with_beachballs.rst
  misc/docs/source/tutorial/code_snippets/python_introduction.rst
Owners: none

DOC: update Cartopy url (#3602)
  misc/docs/source/conf.py
  misc/docs/source/tutorial/code_snippets/cartopy_plot_with_beachballs.rst
  misc/docs/source/tutorial/code_snippets/python_introduction.rst
Owners: none

cleaning useless checks
  obspy/io/shapefile/core.py
Owners: @megies

fix for mindep
  obspy/io/shapefile/tests/test_core.py
Owners: @megies

pyshp's NORMALIZE_WHITESPACE forcing all our tests to fail, temporarily pinning pyshp<3
  .github/test_conda_env.yml
  .github/test_mindepversion_conda_env.yml
Owners: none

pyshp<3 compat
  obspy/io/shapefile/tests/test_core.py
Owners: @megies

pyshp<3 compat
  obspy/io/shapefile/tests/test_core.py
Owners: @megies

changelog
  CHANGELOG.txt
Owners: none

Add beachball matrix code snippet to tutorial per feedback
  misc/docs/source/gallery.rst
  misc/docs/source/tutorial/code_snippets/beachball_plot.rst
  misc/docs/source/tutorial/code_snippets/beachball_plot2.py
Owners: none

change pinning to != 3.0.0 - fixed upstream in pyshp !
  .github/test_conda_env.yml
  .github/test_mindepversion_conda_env.yml
  CHANGELOG.txt
  obspy/io/shapefile/core.py
Owners: @megies

code cleaning
  obspy/io/shapefile/core.py
  obspy/io/shapefile/tests/test_core.py
Owners: @megies

remaining wrong IP corrected
  obspy/clients/neic/__init__.py
Owners: @ketchum-usgs

changelog update
  CHANGELOG.txt
Owners: none

changelog update
  CHANGELOG.txt
Owners: none

CODEOWNERS:

# The main points for setting up code owners here are..
#   - to automatically ping people when pull requests are opened that touch
#     parts of the code base that certain people have been involved with and..
#   - to make it faster to see for core developers who to reach out to for
#     getting feedback on pull requests
#
# If anybody wants to be removed here to not get github notifications anymore,
# just open an issue on github and let us know
#
# Deliberately including folders without owners specified

/obspy/.github      @trichter @d-chambers @megies
/obspy/pytest.ini   @trichter @d-chambers @megies
/obspy/conftest.py  @trichter @d-chambers @megies

/obspy/core        @megies @trichter @d-chambers
/obspy/geodetics
/obspy/imaging
/obspy/realtime
/obspy/scripts
/obspy/signal
/obspy/taup        @johnrudge @crotwell

/obspy/clients/earthworm
/obspy/clients/fdsn
/obspy/clients/filesystem/*.py      @nick-falco @chad-iris
/obspy/clients/filesystem/sds.py    @megies
/obspy/clients/iris                 @chad-iris
/obspy/clients/neic                 @ketchum-usgs
/obspy/clients/nrl                  @megies
/obspy/clients/seedlink/basic*.py   @megies
/obspy/clients/seedlink
/obspy/clients/syngine

/obspy/io/ah             @s-schneider
/obspy/io/alsep          @yamamo-to @isas-yamamoto
/obspy/io/arclink        @Jollyfant
/obspy/io/ascii
/obspy/io/cmtsolution
/obspy/io/cnv
/obspy/io/css
/obspy/io/csv            @trichter
/obspy/io/cybershake     @jrekoske
/obspy/io/dmx            @ThomasLecocq
/obspy/io/focmec         @megies
/obspy/io/gcf            @paitor
/obspy/io/gse2
/obspy/io/hypodd         @megies
/obspy/io/iaspei
/obspy/io/json
/obspy/io/kinemetrics
/obspy/io/kml            @megies
/obspy/io/mseed
/obspy/io/mseed/src      @chad-iris
/obspy/io/ndk
/obspy/io/nied
/obspy/io/nlloc          @megies
/obspy/io/nordic         @flixha
/obspy/io/pdas
/obspy/io/pde
/obspy/io/quakeml
/obspy/io/reftek         @megies
/obspy/io/rg16           @thefroid
/obspy/io/sac            @jkmacc-LANL
/obspy/io/scardec
/obspy/io/seg2
/obspy/io/segy
/obspy/io/seisan
/obspy/io/seiscomp
/obspy/io/sh             @trichter
/obspy/io/shapefile      @megies
/obspy/io/stationtxt
/obspy/io/stationxml
/obspy/io/wav
/obspy/io/win            @ThomasLecocq
/obspy/io/xseed
/obspy/io/y
/obspy/io/zmap
