Repository obspy/obspy, changes with the owners that CODEOWNERS names for each.
All owners: @trichter, @d-chambers, @megies, @johnrudge, @crotwell, @nick-falco, @chad-iris, @ketchum-usgs, @s-schneider, @yamamo-to, @isas-yamamoto, @Jollyfant, @jrekoske, @ThomasLecocq, @paitor, @flixha, @thefroid, @jkmacc-LANL

CODEOWNERS:

# The main points for setting up code owners here are..
#   - to automatically ping people when pull requests are opened that touch
#     parts of the code base that certain people have been involved with and..
#   - to make it faster to see for core developers who to reach out to for
#     getting feedback on pull requests
#
# If anybody wants to be removed here to not get github notifications anymore,
# just open an issue on github and let us know
#
# Deliberately including folders without owners specified

/obspy/.github      @trichter @d-chambers @megies
/obspy/pytest.ini   @trichter @d-chambers @megies
/obspy/conftest.py  @trichter @d-chambers @megies

/obspy/core        @megies @trichter @d-chambers
/obspy/geodetics
/obspy/imaging
/obspy/realtime
/obspy/scripts
/obspy/signal
/obspy/taup        @johnrudge @crotwell

/obspy/clients/earthworm
/obspy/clients/fdsn
/obspy/clients/filesystem/*.py      @nick-falco @chad-iris
/obspy/clients/filesystem/sds.py    @megies
/obspy/clients/iris                 @chad-iris
/obspy/clients/neic                 @ketchum-usgs
/obspy/clients/nrl                  @megies
/obspy/clients/seedlink/basic*.py   @megies
/obspy/clients/seedlink
/obspy/clients/syngine

/obspy/io/ah             @s-schneider
/obspy/io/alsep          @yamamo-to @isas-yamamoto
/obspy/io/arclink        @Jollyfant
/obspy/io/ascii
/obspy/io/cmtsolution
/obspy/io/cnv
/obspy/io/css
/obspy/io/csv            @trichter
/obspy/io/cybershake     @jrekoske
/obspy/io/dmx            @ThomasLecocq
/obspy/io/focmec         @megies
/obspy/io/gcf            @paitor
/obspy/io/gse2
/obspy/io/hypodd         @megies
/obspy/io/iaspei
/obspy/io/json
/obspy/io/kinemetrics
/obspy/io/kml            @megies
/obspy/io/mseed
/obspy/io/mseed/src      @chad-iris
/obspy/io/ndk
/obspy/io/nied
/obspy/io/nlloc          @megies
/obspy/io/nordic         @flixha
/obspy/io/pdas
/obspy/io/pde
/obspy/io/quakeml
/obspy/io/reftek         @megies
/obspy/io/rg16           @thefroid
/obspy/io/sac            @jkmacc-LANL
/obspy/io/scardec
/obspy/io/seg2
/obspy/io/segy
/obspy/io/seisan
/obspy/io/seiscomp
/obspy/io/sh             @trichter
/obspy/io/shapefile      @megies
/obspy/io/stationtxt
/obspy/io/stationxml
/obspy/io/wav
/obspy/io/win            @ThomasLecocq
/obspy/io/xseed
/obspy/io/y
/obspy/io/zmap

adjust CI build matrix
  .github/workflows/tests.yml
Owners: none

fdsn: remove a backwards compatibility hack
  obspy/clients/fdsn/client.py
Owners: none

changelog
  CHANGELOG.txt
Owners: none

bump matplotlib minimum version further to be better in line in terms of release dates
  setup.py
Owners: none

CI: adjust minimum dependency version env file
  .github/test_mindepversion_conda_env.yml
Owners: none

CI: adjust matplotlib pinning in docs build env
  .github/docs_conda_env.yml
Owners: none

CI: bump python version in docs building workflow
  .github/workflows/docs_building.yml
Owners: none

CI: docs building, update plot_directive.py copied from matplotlib
  misc/docs/source/_ext/plot_directive.py
Owners: none

adjust a test code to a py 3.13 deprecation warning
  obspy/io/nlloc/tests/test_core.py
Owners: @megies

docs building: readd our modifications to updated plot_directive.py
  misc/docs/source/_ext/plot_directive.py
Owners: none

CI: docs building env, all packages can be installed via conda now
  .github/docs_conda_env.yml
Owners: none

CI: docs building, list installed packages
  .github/workflows/docs_building.yml
Owners: none

Resolve deprecation warnings of regex library
  obspy/io/nlloc/tests/test_core.py
Owners: @megies

Resolve deprecation warnings of regex library
  obspy/CONTRIBUTORS.txt
Owners: none

stationxml: add regression test for #3572
  obspy/io/stationxml/tests/test_stationxml.py
Owners: none

stationxml: fix a bug writing inst. sens. I/O unit descriptions
  CHANGELOG.txt
  obspy/io/stationxml/core.py
Owners: none

Add `calculate_normalization_factor()` method
  obspy/core/inventory/response.py
Owners: @megies, @trichter, @d-chambers

Update docstring and init method to allow for `normalization_factor=None`
  obspy/core/inventory/response.py
Owners: @megies, @trichter, @d-chambers

Add to changelog (need to update for PR #)
  CHANGELOG.txt
Owners: none

Add tests
  obspy/core/tests/test_response.py
Owners: @megies, @trichter, @d-chambers

Add rtol for tests
  obspy/core/tests/test_response.py
Owners: @megies, @trichter, @d-chambers

Update w/ PR #
  CHANGELOG.txt
Owners: none

Line length adjustments
  obspy/core/inventory/response.py
  obspy/core/tests/test_response.py
Owners: @megies, @trichter, @d-chambers

Expand scope of tests a bit
  obspy/core/tests/test_response.py
Owners: @megies, @trichter, @d-chambers

Line length adjustments, again
  obspy/core/tests/test_response.py
Owners: @megies, @trichter, @d-chambers

Add 3rd subtest for `NotImplementedError`
  obspy/core/tests/test_response.py
Owners: @megies, @trichter, @d-chambers

Docstring tweaks
  obspy/core/inventory/response.py
Owners: @megies, @trichter, @d-chambers

Allow builtin beachball function to show isotropic component of moment tensor
  obspy/CONTRIBUTORS.txt
  obspy/imaging/beachball.py
Owners: none

tentative to add the real command names to the documentation (currently as a list of commands in the scripts.rst file, not ideal, but should work.
  misc/docs/source/_templates/script.rst
Owners: none

Fix picky gcc atof in evalresp (fixes #3578)
  obspy/signal/src/evalresp/parse_fctns.c
Owners: none

WIP trying to cover as much tests as possible - and understand those damn byte order issues...
  obspy/io/mseed/core.py
  obspy/io/mseed/tests/test_mseed_util.py
Owners: none

attach extras to the right Element (some were attached to the Element's parent)
  obspy/io/stationxml/core.py
Owners: none

attach extras to the right Element (some were attached to the Element's parent)
  obspy/io/stationxml/core.py
Owners: none

removed fallback
  misc/docs/source/_templates/script.rst
Owners: none

PPSD - Preloading evalresp responses from metadata
  CHANGELOG.txt
  obspy/signal/spectral_estimation.py
Owners: none

PPSD - Preloading evalresp responses from metadata
  CHANGELOG.txt
Owners: none

PPSD - Preloading evalresp responses from metadata
  obspy/signal/spectral_estimation.py
Owners: none

lint
  obspy/signal/spectral_estimation.py
Owners: none

flake8 my ❤️
  obspy/signal/spectral_estimation.py
Owners: none

flake8 my ❤️
  obspy/signal/spectral_estimation.py
Owners: none
