Repository obspy/obspy, changes with the owners that CODEOWNERS names for each.
All owners: @trichter, @d-chambers, @megies, @johnrudge, @crotwell, @nick-falco, @chad-iris, @ketchum-usgs, @s-schneider, @yamamo-to, @isas-yamamoto, @Jollyfant, @jrekoske, @ThomasLecocq, @paitor, @flixha, @thefroid, @jkmacc-LANL

Change default USGS server for obspy.clients.neic. (#3592)
  CHANGELOG.txt
  obspy/clients/neic/README.txt
  obspy/clients/neic/__init__.py
  obspy/clients/neic/client.py
Owners: @ketchum-usgs

small doc change (fixes #3516)
  obspy/signal/array_analysis.py
Owners: none

changelog
  CHANGELOG.txt
Owners: none

Updates, including changing default behaviour back, adding data files, and misc feedback updates
  CHANGELOG.txt
  misc/docs/source/gallery.rst
  misc/docs/source/tutorial/code_snippets/beachball_plot2.py
  misc/docs/source/tutorial/code_snippets/beachballs_ipts1_iref1_lune_psmeca
  misc/docs/source/tutorial/code_snippets/beachballs_ipts1_iref2_lune_psmeca
  misc/docs/source/tutorial/code_snippets/beachballs_ipts1_iref3_lune_psmeca
  misc/docs/source/tutorial/code_snippets/beachballs_ipts1_iref4_lune_psmeca
  misc/docs/source/tutorial/code_snippets/beachballs_ipts1_iref5_lune_psmeca
  obspy/imaging/beachball.py
Owners: none

io.mseed3 initial work (superseed #3548)
  obspy/io/mseed3/__init__.py
  obspy/io/mseed3/core.py
  setup.py
Owners: none

flake
  obspy/io/mseed3/core.py
Owners: none

flake
  obspy/io/mseed3/core.py
Owners: none

flake
  obspy/io/mseed3/core.py
Owners: none

flake
  obspy/io/mseed3/core.py
Owners: none

flake
  obspy/io/mseed3/core.py
Owners: none

_is_mseed3 and _write_mseed3 support
  obspy/core/util/base.py
  obspy/io/mseed3/core.py
  setup.py
Owners: @megies, @trichter, @d-chambers

flake
  obspy/io/mseed3/core.py
Owners: none

flake
  obspy/io/mseed3/core.py
Owners: none

update beachball link in gallery
  misc/docs/source/gallery.rst
Owners: none

Update CHANGELOG and formatting fixes to beachball.py
  CHANGELOG.txt
  obspy/imaging/beachball.py
Owners: none

small cleaning
  CHANGELOG.txt
  obspy/imaging/beachball.py
Owners: none

the new code works, so doesn't emit warnings
  obspy/imaging/tests/test_beachball.py
Owners: none

bit of code cleaning
  misc/docs/source/tutorial/code_snippets/beachball_plot2.py
Owners: none

bit of code cleaning
  misc/docs/source/tutorial/code_snippets/beachball_plot2.py
Owners: none

flake8 my ❤️
  obspy/imaging/tests/test_beachball.py
Owners: none

remove atof definition since it's in stdlib.h
  obspy/signal/src/evalresp/parse_fctns.c
Owners: none

remove atof definition since it's in stdlib.h
  CHANGELOG.txt
Owners: none

Fix picky gcc atof in evalresp (fixes #3578)
  CHANGELOG.txt
  obspy/signal/src/evalresp/parse_fctns.c
Owners: none

update changelog before merging in maintenance branch
  CHANGELOG.txt
Owners: none

final merging
  CHANGELOG.txt
Owners: none

event extra
  obspy/io/nordic/core.py
Owners: @flixha

flake8 my ❤️
  obspy/io/nordic/core.py
Owners: @flixha

extend kinemetrics support in ObsPy (superseeds #2934)
  obspy/io/kinemetrics/__init__.py
  obspy/io/kinemetrics/core.py
  obspy/io/kinemetrics/evt.py
  obspy/io/kinemetrics/evt_base.py
  obspy/io/kinemetrics/tests/test_core.py
Owners: none

make sure test currently fail because of apply_calib
  obspy/io/kinemetrics/tests/test_core.py
Owners: none

update docs building workflow to include tags and maintenance branches
  .github/workflows/docs_building.yml
Owners: none

revamp select, getitem & replace get_indices with numpyesque "where". update changelog.
  CHANGELOG.txt
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

lint of course
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

format glitch
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

OK i used an actual lint checker now sorry
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

streamlined and debugged a few issues
  CHANGELOG.txt
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

fix docstring tests & results
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

fix logic bug when mixing filter levels
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

forgot to save the file
  obspy/core/inventory/inventory.py
Owners: @megies, @trichter, @d-chambers

Fix conflicts
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/header.py
  obspy/clients/fdsn/tests/data/availability.wadl
  obspy/clients/fdsn/tests/test_client.py
  obspy/clients/fdsn/tests/test_wadl_parser.py
  obspy/clients/fdsn/wadl_parser.py
  obspy/pytestdebug.log
Owners: none

queryauth
  obspy/clients/fdsn/client.py
  obspy/clients/fdsn/tests/test_client.py
Owners: none

CODEOWNERS:

# The main points for setting up code owners here are..
#   - to automatically ping people when pull requests are opened that touch
#     parts of the code base that certain people have been involved with and..
#   - to make it faster to see for core developers who to reach out to for
#     getting feedback on pull requests
#
# If anybody wants to be removed here to not get github notifications anymore,
# just open an issue on github and let us know
#
# Deliberately including folders without owners specified

/obspy/.github      @trichter @d-chambers @megies
/obspy/pytest.ini   @trichter @d-chambers @megies
/obspy/conftest.py  @trichter @d-chambers @megies

/obspy/core        @megies @trichter @d-chambers
/obspy/geodetics
/obspy/imaging
/obspy/realtime
/obspy/scripts
/obspy/signal
/obspy/taup        @johnrudge @crotwell

/obspy/clients/earthworm
/obspy/clients/fdsn
/obspy/clients/filesystem/*.py      @nick-falco @chad-iris
/obspy/clients/filesystem/sds.py    @megies
/obspy/clients/iris                 @chad-iris
/obspy/clients/neic                 @ketchum-usgs
/obspy/clients/nrl                  @megies
/obspy/clients/seedlink/basic*.py   @megies
/obspy/clients/seedlink
/obspy/clients/syngine

/obspy/io/ah             @s-schneider
/obspy/io/alsep          @yamamo-to @isas-yamamoto
/obspy/io/arclink        @Jollyfant
/obspy/io/ascii
/obspy/io/cmtsolution
/obspy/io/cnv
/obspy/io/css
/obspy/io/csv            @trichter
/obspy/io/cybershake     @jrekoske
/obspy/io/dmx            @ThomasLecocq
/obspy/io/focmec         @megies
/obspy/io/gcf            @paitor
/obspy/io/gse2
/obspy/io/hypodd         @megies
/obspy/io/iaspei
/obspy/io/json
/obspy/io/kinemetrics
/obspy/io/kml            @megies
/obspy/io/mseed
/obspy/io/mseed/src      @chad-iris
/obspy/io/ndk
/obspy/io/nied
/obspy/io/nlloc          @megies
/obspy/io/nordic         @flixha
/obspy/io/pdas
/obspy/io/pde
/obspy/io/quakeml
/obspy/io/reftek         @megies
/obspy/io/rg16           @thefroid
/obspy/io/sac            @jkmacc-LANL
/obspy/io/scardec
/obspy/io/seg2
/obspy/io/segy
/obspy/io/seisan
/obspy/io/seiscomp
/obspy/io/sh             @trichter
/obspy/io/shapefile      @megies
/obspy/io/stationtxt
/obspy/io/stationxml
/obspy/io/wav
/obspy/io/win            @ThomasLecocq
/obspy/io/xseed
/obspy/io/y
/obspy/io/zmap
